# SQLDatabaseSequentialChain - Mondial FK - GPT 3.5

In [1]:
!pip install langchain_experimental

Requirement already satisfied: langchain_experimental in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (0.0.17)
Requirement already satisfied: langchain>=0.0.239 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain_experimental) (0.0.289)
Requirement already satisfied: PyYAML>=5.3 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.0.18)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (3.8.4)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (4.0.2)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (0.5.9)
Requirement already satisfied: langsmith<0.1.0,>=0.0.21 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (0.0.37)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (1.25.1)
Requirement already satisfied: pydantic<3,>=1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (1.10.11)
Requirement already satisfied: requests<3,>=2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (2.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.3.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (3.19.0)
Requirement already satisfied: marshmallow-enum<2.0.0,>=1.5.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (1.5.1)
Requirement already satisfied: typing-inspect>=0.4.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (0.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from pydantic<3,>=1->langchain>=0.0.239->langchain_experimental) (4.6.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (2021.10.8)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain>=0.0.239->langchain_experimental) (2.0.2)
Requirement already satisfied: packaging>=17.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (21.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from packaging>=17.0->marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (3.0.9)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from langchain.sql_database import SQLDatabase
from langchain.chains import LLMChain
from langchain_experimental.sql.base import SQLDatabaseSequentialChain
from langchain.chat_models import ChatOpenAI
from urllib.parse import quote  
from langchain.prompts.prompt import PromptTemplate
from langchain.callbacks import get_openai_callback
import time
from dotenv import load_dotenv
import os
import sys
import json
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

# Schema

In [3]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/12_sql_sequential_queries_chatgpt_{SCHEMA}_fk_instances.json"

In [4]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)

    queries = data["queries"]
    return queries

## Conexão

In [ ]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

### Utilizando o SQLDatabase para pegar todas as informações do database

In [6]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables, samples=2)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

In [7]:
len(db.get_table_names())

46

## Criando o SQLChainPrompt especifico para o SQLDatabaseSequential

In [8]:
f = open(f"prompts/sql_chain_prompt_template.txt", "r")
prompt_template = f.read()
f.close()


QUERY_PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(QUERY_PROMPT)

input_variables=['input', 'table_info', 'top_k'] output_parser=None partial_variables={} template="Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer. Unless the user specifies in his question a specific number of examples he wishes to obtain, don't limits your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}" template_format='f-string' validate_template=True

## Criando o Chain para gerar SQL

In [ ]:
llm = ChatOpenAI(temperature=0,model_name='gpt-3.5-turbo',verbose=True)

db_chain = SQLDatabaseSequentialChain.from_llm(llm, db.db, query_prompt=QUERY_PROMPT, verbose=True, use_query_checker=True, return_intermediate_steps=False, return_sql=True)
db_chain

## Preparando as consultas em linguagem natural para rodar no LLM

In [10]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Rodando as consultas no LLM para gerar SQL

In [12]:

# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.
number_of_queries_to_delay = 20
count = 0
for instance in queries:
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(5)
        
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = db_chain({
            "query": instance["question"]
        })
        end_time = time.time()
        instance["query_string"] = sql_query['result']
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)

    count += 1
    
queries

> Entering new SQLDatabaseSequentialChain chain...

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\chains\llm.py:278: UserWarning: The predict_and_parse method is deprecated, instead pass an output parser directly to LLMChain.
  warnings.warn(

Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
What is the area of Thailand?
SQLQuery:

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

> Finished chain.

> Finished chain.
1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand' 1.6058058738708496 0.0008445


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province']

> Entering new SQLDatabaseChain chain...
What are the provinces with an area greater than 10000?
SQLQuery:
> Finished chain.

> Finished chain.
2 What are the provinces with an area greater than 10000? SELECT name, country, area
FROM province
WHERE area > 10000 1.5946290493011475 0.000898


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'language']

> Entering new SQLDatabaseChain chain...
What are the languages spoken in Poland?
SQLQuery:
> Finished chain.

> Finished chain.
3 What are the languages spoken in Poland? SELECT name
FROM language
WHERE country = 'PL' 1.3679816722869873 0.0010185


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['lake']

> Entering new SQLDatabaseChain chain...
How deep is Lake Kariba?
SQLQuery:
> Finished chain.

> Finished chain.
4 How deep is Lake Kariba? SELECT depth
FROM lake
WHERE name = 'Kariba' 1.6326994895935059 0.001039


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province']

> Entering new SQLDatabaseChain chain...
What is the total of provinces of Netherlands?
SQLQuery:
> Finished chain.

> Finished chain.
5 What is the total of provinces of Netherlands? SELECT COUNT(*) FROM province WHERE country = 'NL' 1.2865848541259766 0.001111


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'religion']

> Entering new SQLDatabaseChain chain...
What is the percentage of religious people are hindu in thailand?
SQLQuery:
> Finished chain.

> Finished chain.
6 What is the percentage of religious people are hindu in thailand? SELECT percentage
FROM religion
WHERE country = 'TH' AND name = 'Hindu' 1.882483720779419 0.001051


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['river', 'riverthrough', 'province']

> Entering new SQLDatabaseChain chain...
List the number of provinces each river flows through.
SQLQuery:
> Finished chain.

> Finished chain.
7 List the number of provinces each river flows through. SELECT r.name, COUNT(rt.river) AS num_provinces
FROM river r
LEFT JOIN riverthrough rt ON r.name = rt.river
GROUP BY r.name 2.251774549484253 0.0019089999999999999


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
Find all countries that became independent between 8/1/1910 and 8/1/1950.
SQLQuery:
> Finished chain.

> Finished chain.
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. SELECT name, code
FROM country
WHERE independence_date >= TO_DATE('8/1/1910', 'MM/DD/YYYY') AND independence_date <= TO_DATE('8/1/1950', 'MM/DD/YYYY') 1.9531314373016357 0.0009625


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'country']

> Entering new SQLDatabaseChain chain...
What are the cities of Cuba?
SQLQuery:
> Finished chain.

> Finished chain.
9 What are the cities of Cuba? SELECT name FROM city WHERE country = 'CUB' 1.215757131576538 0.0012055


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'country']

> Entering new SQLDatabaseChain chain...
What is the capital of Georgia?
SQLQuery:
> Finished chain.

> Finished chain.
10 What is the capital of Georgia? SELECT capital
FROM country
WHERE name = 'Georgia' 1.208740234375 0.0012075


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province']

> Entering new SQLDatabaseChain chain...
How many provinces have areas greater than 1000 in Niger?
SQLQuery:
> Finished chain.

> Finished chain.
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(*)
FROM province
WHERE country = 'NER' AND area > 1000 1.715256929397583 0.0009040000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
Tell me about the country with the area largest.
SQLQuery:
> Finished chain.

> Finished chain.
12 Tell me about the country with the area largest. SELECT name, area
FROM country
ORDER BY area DESC
FETCH FIRST 1 ROW ONLY; 1.191786766052246 0.0008715000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['organization']

> Entering new SQLDatabaseChain chain...
What is the host province and year of establishment of the organization "International Energy Agency"?
SQLQuery:
> Finished chain.

> Finished chain.
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established
FROM organization
WHERE name = 'International Energy Agency' 1.0927889347076416 0.0009670000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain']

> Entering new SQLDatabaseChain chain...
Find the name of all mountains whose elevation is higher than 1000.
SQLQuery:
> Finished chain.

> Finished chain.
14 Find the name of all mountains whose elevation is higher than 1000. SELECT mountain
FROM mountain
WHERE elevation > 1000 1.6352686882019043 0.0008745000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy', 'geo_sea']

> Entering new SQLDatabaseChain chain...
Tell me the economy of the Caribbean Sea.
SQLQuery:
> Finished chain.

> Finished chain.
15 Tell me the economy of the Caribbean Sea. SELECT g.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM geo_sea g
JOIN economy e ON g.country = e.country
WHERE g.sea = 'Caribbean Sea' 2.350250482559204 0.0011955000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city']

> Entering new SQLDatabaseChain chain...
Show the cities with longitude between 0 and 6.
SQLQuery:
> Finished chain.

> Finished chain.
16 Show the cities with longitude between 0 and 6. SELECT name, country, province, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6 1.4143342971801758 0.0010035


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'country', 'countrypops']

> Entering new SQLDatabaseChain chain...
Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.
SQLQuery:
> Finished chain.

> Finished chain.
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT city.name, city.country, city.province, city.population, city.elevation
FROM city
JOIN country ON city.country = country.code
JOIN countrypops ON country.code = countrypops.country
WHERE city.population > 100000
AND city.elevation > 2500
AND countrypops.population > 1 2.321439743041992 0.001622


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['politics']

> Entering new SQLDatabaseChain chain...
Show all the different types of government.
SQLQuery:
> Finished chain.

> Finished chain.
18 Show all the different types of government. SELECT DISTINCT government
FROM politics 1.0307610034942627 0.000822


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province', 'provincelocalname', 'provinceothername']

> Entering new SQLDatabaseChain chain...
List all provinces in Germany
SQLQuery:
> Finished chain.

> Finished chain.
19 List all provinces in Germany SELECT name
FROM province
WHERE country = 'DE' 1.825286865234375 0.0015914999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['ethnicgroup', 'country']

> Entering new SQLDatabaseChain chain...
What is the percentage of mulatto ethnicity in Brazil?
SQLQuery:
> Finished chain.

> Finished chain.
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage
FROM ethnicgroup
WHERE country = 'BRA'
AND name = 'Mulatto' 1.7896294593811035 0.001055


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'citypops']

> Entering new SQLDatabaseChain chain...
How many cities have populations less than 1000?
SQLQuery:
> Finished chain.

> Finished chain.
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000 1.1278047561645508 0.0013445000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
What is the average elevation of airports in America?
SQLQuery:
> Finished chain.

> Finished chain.
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport WHERE country = 'USA' 1.4733939170837402 0.0011275


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How many countries are adjacent to (or ecompassed by) the Caribbean Sea?
SQLQuery:
> Finished chain.

> Finished chain.
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(DISTINCT country1)
FROM borders
WHERE country2 = 'CS' 1.6072101593017578 0.0013305


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?
SQLQuery:
> Finished chain.

> Finished chain.
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(c.area)
FROM country c
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Caribbean Sea' 2.031590700149536 0.0013745


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country', 'countrypops']

> Entering new SQLDatabaseChain chain...
For all countries, give the sum of the population of all its neighbors
SQLQuery:
> Finished chain.

> Finished chain.
25 For all countries, give the sum of the population of all its neighbors SELECT c.name, SUM(cp.population) AS total_population
FROM country c
JOIN borders b ON c.code = b.country1
JOIN countrypops cp ON b.country2 = cp.country
GROUP BY c.name 2.3538544178009033 0.001359


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain', 'geo_island', 'mountain', 'mountainonisland']

> Entering new SQLDatabaseChain chain...
What mountains are on the island of Borneo?
SQLQuery:
> Finished chain.

> Finished chain.
26 What mountains are on the island of Borneo? SELECT m.name
FROM mountain m
JOIN mountainonisland moi ON m.name = moi.mountain
JOIN geo_island gi ON moi.island = gi.island
WHERE gi.island = 'Borneo' 2.796804904937744 0.0016235000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'population']

> Entering new SQLDatabaseChain chain...
Provide the name and total population of the country with the smallest area.
SQLQuery:
> Finished chain.

> Finished chain.
27 Provide the name and total population of the country with the smallest area. SELECT name, population
FROM country
ORDER BY area ASC
FETCH FIRST 1 ROW ONLY; 1.3530688285827637 0.0010285000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country', 'geo_river']

> Entering new SQLDatabaseChain chain...
The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.
SQLQuery:
> Finished chain.

> Finished chain.
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT c.code
FROM country c
JOIN geo_river gr ON c.code = gr.country
JOIN borders b ON c.code = b.country1
WHERE b.country2 <> gr.country 2.150143623352051 0.0013870000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain', 'province', 'located']

> Entering new SQLDatabaseChain chain...
The codes of all countries where at least one mountain is located in each of their provinces
SQLQuery:
> Finished chain.

> Finished chain.
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT country
FROM geo_mountain
GROUP BY country
HAVING COUNT(DISTINCT province) = (SELECT COUNT(DISTINCT province) FROM geo_mountain) 2.079777717590332 0.0015255


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country']

> Entering new SQLDatabaseChain chain...
The code and total border lengths of all countries with at least one border.
SQLQuery:
> Finished chain.

> Finished chain.
30 The code and total border lengths of all countries with at least one border. SELECT code, SUM(length) AS total_border_length
FROM borders
GROUP BY code 1.4851956367492676 0.0010815


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'river', 'geo_river']

> Entering new SQLDatabaseChain chain...
The names and codes of all countries in which at least one river originates.
SQLQuery:
> Finished chain.

> Finished chain.
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT c.name, c.code
FROM country c
JOIN geo_river gr ON c.code = gr.country
JOIN river r ON gr.river = r.name 1.9768390655517578 0.0019630000000000003


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_river', 'country']

> Entering new SQLDatabaseChain chain...
What is the area and country of the Chatanga River?
SQLQuery:
> Finished chain.

> Finished chain.
32 What is the area and country of the Chatanga River? SELECT country.name, country.area
FROM country
JOIN geo_river ON country.code = geo_river.country
WHERE geo_river.river = 'Chatanga' 2.0588788986206055 0.0011370000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
Show the Airports with elevation more than 3000
SQLQuery:
> Finished chain.

> Finished chain.
33 Show the Airports with elevation more than 3000 SELECT iatacode, name, elevation
FROM airport
WHERE elevation > 3000 1.645857572555542 0.0011435


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'religion']

> Entering new SQLDatabaseChain chain...
What are the religions practiced in Mexico?
SQLQuery:
> Finished chain.

> Finished chain.
34 What are the religions practiced in Mexico? SELECT name
FROM religion
WHERE country = 'MX' 1.6229355335235596 0.0010170000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['river', 'geo_river', 'geo_sea']

> Entering new SQLDatabaseChain chain...
Show all rivers that do not flow into the sea.
SQLQuery:
> Finished chain.

> Finished chain.
35 Show all rivers that do not flow into the sea. SELECT name, river, lake, sea
FROM river
WHERE sea IS NULL 1.7560322284698486 0.001919


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country']

> Entering new SQLDatabaseChain chain...
List African countries by number of neighbors.
SQLQuery:
> Finished chain.

> Finished chain.
36 List African countries by number of neighbors. SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.name
ORDER BY num_neighbors DESC 2.1747677326202393 0.0011025


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'country', 'population']

> Entering new SQLDatabaseChain chain...
What is the average infant mortality rate for each continent?
SQLQuery:
> Finished chain.

> Finished chain.
37 What is the average infant mortality rate for each continent? SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality
FROM continent
JOIN country ON continent.name = country.province
JOIN population ON country.code = population.country
GROUP BY continent.name 2.2528324127197266 0.001159


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'continent']

> Entering new SQLDatabaseChain chain...
What is the average mortality rate of the countries in America without considering Brazil?
SQLQuery:
> Finished chain.

> Finished chain.
38 What is the average mortality rate of the countries in America without considering Brazil? SELECT AVG(mortality_rate)
FROM country
WHERE continent = 'America' AND name != 'Brazil' 1.5899388790130615 0.00098


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_sea']

> Entering new SQLDatabaseChain chain...
List seas with area greater than 8000 and depth less than 100.
SQLQuery:
> Finished chain.

> Finished chain.
39 List seas with area greater than 8000 and depth less than 100. SELECT sea
FROM geo_sea
WHERE area > 8000 AND depth < 100 1.6298027038574219 0.0008915000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain']

> Entering new SQLDatabaseChain chain...
How many mountains are there in Asia?
SQLQuery:
> Finished chain.

> Finished chain.
40 How many mountains are there in Asia? SELECT COUNT(*) FROM geo_mountain WHERE country IN (SELECT code FROM country WHERE continent = 'Asia') 1.748270034790039 0.0008715


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country', 'geo_sea']

> Entering new SQLDatabaseChain chain...
What are the countries that are close to the Mediterranean Sea?
SQLQuery:
> Finished chain.

> Finished chain.
41 What are the countries that are close to the Mediterranean Sea? SELECT c.name
FROM country c
JOIN borders b ON c.code = b.country1
JOIN geo_sea gs ON gs.country = b.country2
WHERE gs.sea = 'Mediterranean Sea' 2.3472096920013428 0.0013655


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'politics']

> Entering new SQLDatabaseChain chain...
Show the total for each type of government.
SQLQuery:
> Finished chain.

> Finished chain.
42 Show the total for each type of government. SELECT government, COUNT(*) AS total
FROM politics
GROUP BY government 1.3332724571228027 0.001072


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['desert', 'province']

> Entering new SQLDatabaseChain chain...
Which province has the largest desert in the world?
SQLQuery:
> Finished chain.

> Finished chain.
43 Which province has the largest desert in the world? SELECT p.name
FROM province p
JOIN desert d ON p.area > d.area
ORDER BY d.area DESC
LIMIT 1 2.14277720451355 0.0011480000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['desert']

> Entering new SQLDatabaseChain chain...
What is the largest desert in the world?
SQLQuery:
> Finished chain.

> Finished chain.
44 What is the largest desert in the world? SELECT name, area
FROM desert
ORDER BY area DESC
FETCH FIRST 1 ROW ONLY; 1.6330845355987549 0.0008705


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'desert']

> Entering new SQLDatabaseChain chain...
List, for all continents, the amount of deserts on each.
SQLQuery:
> Finished chain.

> Finished chain.
45 List, for all continents, the amount of deserts on each. SELECT c.name, COUNT(d.name) AS desert_count
FROM continent c
LEFT JOIN desert d ON c.name = d.name
GROUP BY c.name 1.7805886268615723 0.000995


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_sea']

> Entering new SQLDatabaseChain chain...
What are the neighboring seas of the Banda Sea?
SQLQuery:
> Finished chain.

> Finished chain.
46 What are the neighboring seas of the Banda Sea? SELECT sea
FROM geo_sea
WHERE province = 'Banda Sea' 1.447582721710205 0.0008705


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'city']


[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 559,
  'prompt_tokens': 547,
  'completion_tokens': 12,
  'total_cost': 0.0008445,
  'time': 1.6058058738708496},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, country, area\nFROM province\nWHERE area > 10000',
  'type': 'simple',
  'total_tokens': 593,
  'prompt_tokens': 576,
  'completion_tokens': 17,
  'total_cost': 0.000898,
  'time': 1.5946290493011475},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE country = 'PL'",
  'type': 'medium',
  'total_tokens': 674,
  'prompt_tokens': 659,
  'completion_tokens': 15,
  'total_cost': 0.0010185,
  'time': 1.3679816722869873},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth\nFROM lake\nWHERE name = 'Kariba'",
  'type': 'simple',
  'total_tokens': 688,
  'prompt_tokens': 674,
  'completion_tokens': 14,
  'total_cost': 0.001039,
  'time': 1.6326994895935059},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = 'NL'",
  'type': 'complex',
  'total_tokens': 736,
  'prompt_tokens': 722,
  'completion_tokens': 14,
  'total_cost': 0.001111,
  'time': 1.2865848541259766},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage\nFROM religion\nWHERE country = 'TH' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 693,
  'prompt_tokens': 670,
  'completion_tokens': 23,
  'total_cost': 0.001051,
  'time': 1.882483720779419},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name, COUNT(rt.river) AS num_provinces\nFROM river r\nLEFT JOIN riverthrough rt ON r.name = rt.river\nGROUP BY r.name',
  'type': 'medium',
  'total_tokens': 1259,
  'prompt_tokens': 1218,
  'completion_tokens': 41,
  'total_cost': 0.0019089999999999999,
  'time': 2.251774549484253},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name, code\nFROM country\nWHERE independence_date >= TO_DATE('8/1/1910', 'MM/DD/YYYY') AND independence_date <= TO_DATE('8/1/1950', 'MM/DD/YYYY')",
  'type': 'complex',
  'total_tokens': 626,
  'prompt_tokens': 579,
  'completion_tokens': 47,
  'total_cost': 0.0009625,
  'time': 1.9531314373016357},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 799,
  'prompt_tokens': 785,
  'completion_tokens': 14,
  'total_cost': 0.0012055,
  'time': 1.215757131576538},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital\nFROM country\nWHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 800,
  'prompt_tokens': 785,
  'completion_tokens': 15,
  'total_cost': 0.0012075,
  'time': 1.208740234375},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NER' AND area > 1000",
  'type': 'complex',
  'total_tokens': 596,
  'prompt_tokens': 576,
  'completion_tokens': 20,
  'total_cost': 0.0009040000000000001,
  'time': 1.715256929397583},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'medium',
  'total_tokens': 574,
  'prompt_tokens': 553,
  'completion_tokens': 21,
  'total_cost': 0.0008715000000000001,
  'time': 1.191786766052246},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 639,
  'prompt_tokens': 622,
  'completion_tokens': 17,
  'total_cost': 0.0009670000000000001,
  'time': 1.0927889347076416},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT mountain\nFROM mountain\nWHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 578,
  'prompt_tokens': 563,
  'completion_tokens': 15,
  'total_cost': 0.0008745000000000001,
  'time': 1.6352686882019043},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT g.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment\nFROM geo_sea g\nJOIN economy e ON g.country = e.country\nWHERE g.sea = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 777,
  'prompt_tokens': 717,
  'completion_tokens': 60,
  'total_cost': 0.0011955000000000002,
  'time': 2.350250482559204},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, country, province, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 662,
  'prompt_tokens': 641,
  'completion_tokens': 21,
  'total_cost': 0.0010035,
  'time': 1.4143342971801758},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name, city.country, city.province, city.population, city.elevation\nFROM city\nJOIN country ON city.country = country.code\nJOIN countrypops ON country.code = countrypops.country\nWHERE city.population > 100000\nAND city.elevation > 2500\nAND countrypops.population > 1',
  'type': 'complex',
  'total_tokens': 1055,
  'prompt_tokens': 976,
  'completion_tokens': 79,
  'total_cost': 0.001622,
  'time': 2.321439743041992},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government\nFROM politics',
  'type': 'simple',
  'total_tokens': 545,
  'prompt_tokens': 536,
  'completion_tokens': 9,
  'total_cost': 0.000822,
  'time': 1.0307610034942627},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name\nFROM province\nWHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 1053,
  'prompt_tokens': 1029,
  'completion_tokens': 24,
  'total_cost': 0.0015914999999999998,
  'time': 1.825286865234375},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage\nFROM ethnicgroup\nWHERE country = 'BRA'\nAND name = 'Mulatto'",
  'type': 'complex',
  'total_tokens': 695,
  'prompt_tokens': 670,
  'completion_tokens': 25,
  'total_cost': 0.001055,
  'time': 1.7896294593811035},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 891,
  'prompt_tokens': 875,
  'completion_tokens': 16,
  'total_cost': 0.0013445000000000002,
  'time': 1.1278047561645508},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 747,
  'prompt_tokens': 733,
  'completion_tokens': 14,
  'total_cost': 0.0011275,
  'time': 1.4733939170837402},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country1) \nFROM borders \nWHERE country2 = 'CS'",
  'type': 'medium',
  'total_tokens': 878,
  'prompt_tokens': 851,
  'completion_tokens': 27,
  'total_cost': 0.0013305,
  'time': 1.6072101593017578},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c \nJOIN geo_sea gs ON c.code = gs.country \nWHERE gs.sea = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 903,
  'prompt_tokens': 863,
  'completion_tokens': 40,
  'total_cost': 0.0013745,
  'time': 2.031590700149536},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c.name, SUM(cp.population) AS total_population\nFROM country c\nJOIN borders b ON c.code = b.country1\nJOIN countrypops cp ON b.country2 = cp.country\nGROUP BY c.name',
  'type': 'medium',
  'total_tokens': 888,
  'prompt_tokens': 834,
  'completion_tokens': 54,
  'total_cost': 0.001359,
  'time': 2.3538544178009033},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT m.name\nFROM mountain m\nJOIN mountainonisland moi ON m.name = moi.mountain\nJOIN geo_island gi ON moi.island = gi.island\nWHERE gi.island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 1063,
  'prompt_tokens': 1005,
  'completion_tokens': 58,
  'total_cost': 0.0016235000000000002,
  'time': 2.796804904937744},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nORDER BY area ASC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 678,
  'prompt_tokens': 655,
  'completion_tokens': 23,
  'total_cost': 0.0010285000000000001,
  'time': 1.3530688285827637},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN geo_river gr ON c.code = gr.country\nJOIN borders b ON c.code = b.country1\nWHERE b.country2 <> gr.country',
  'type': 'complex',
  'total_tokens': 909,
  'prompt_tokens': 862,
  'completion_tokens': 47,
  'total_cost': 0.0013870000000000002,
  'time': 2.150143623352051},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT country\nFROM geo_mountain\nGROUP BY country\nHAVING COUNT(DISTINCT province) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)',
  'type': 'complex',
  'total_tokens': 1003,
  'prompt_tokens': 961,
  'completion_tokens': 42,
  'total_cost': 0.0015255,
  'time': 2.079777717590332},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT code, SUM(length) AS total_border_length\nFROM borders\nGROUP BY code',
  'type': 'complex',
  'total_tokens': 714,
  'prompt_tokens': 693,
  'completion_tokens': 21,
  'total_cost': 0.0010815,
  'time': 1.4851956367492676},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN geo_river gr ON c.code = gr.country\nJOIN river r ON gr.river = r.name',
  'type': 'medium',
  'total_tokens': 1295,
  'prompt_tokens': 1254,
  'completion_tokens': 41,
  'total_cost': 0.0019630000000000003,
  'time': 1.9768390655517578},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT country.name, country.area\nFROM country\nJOIN geo_river ON country.code = geo_river.country\nWHERE geo_river.river = 'Chatanga'",
  'type': 'simple',
  'total_tokens': 745,
  'prompt_tokens': 706,
  'completion_tokens': 39,
  'total_cost': 0.0011370000000000002,
  'time': 2.0588788986206055},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation\nFROM airport\nWHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 756,
  'prompt_tokens': 737,
  'completion_tokens': 19,
  'total_cost': 0.0011435,
  'time': 1.645857572555542},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name\nFROM religion\nWHERE country = 'MX'",
  'type': 'medium',
  'total_tokens': 673,
  'prompt_tokens': 658,
  'completion_tokens': 15,
  'total_cost': 0.0010170000000000001,
  'time': 1.6229355335235596},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name, river, lake, sea\nFROM river\nWHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 1271,
  'prompt_tokens': 1246,
  'completion_tokens': 25,
  'total_cost': 0.001919,
  'time': 1.7560322284698486},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': 'SELECT c.name, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name\nORDER BY num_neighbors DESC',
  'type': 'complex',
  'total_tokens': 721,
  'prompt_tokens': 679,
  'completion_tokens': 42,
  'total_cost': 0.0011025,
  'time': 2.1747677326202393},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality\nFROM continent\nJOIN country ON continent.name = country.province\nJOIN population ON country.code = population.country\nGROUP BY continent.name',
  'type': 'simple',
  'total_tokens': 756,
  'prompt_tokens': 706,
  'completion_tokens': 50,
  'total_cost': 0.001159,
  'time': 2.2528324127197266},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(mortality_rate) \nFROM country \nWHERE continent = 'America' AND name != 'Brazil'",
  'type': 'complex',
  'total_tokens': 645,
  'prompt_tokens': 620,
  'completion_tokens': 25,
  'total_cost': 0.00098,
  'time': 1.5899388790130615},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT sea\nFROM geo_sea\nWHERE area > 8000 AND depth < 100',
  'type': 'simple',
  'total_tokens': 587,
  'prompt_tokens': 565,
  'completion_tokens': 22,
  'total_cost': 0.0008915000000000001,
  'time': 1.6298027038574219},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM geo_mountain WHERE country IN (SELECT code FROM country WHERE continent = 'Asia')",
  'type': 'complex',
  'total_tokens': 573,
  'prompt_tokens': 549,
  'completion_tokens': 24,
  'total_cost': 0.0008715,
  'time': 1.748270034790039},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT c.name\nFROM country c\nJOIN borders b ON c.code = b.country1\nJOIN geo_sea gs ON gs.country = b.country2\nWHERE gs.sea = 'Mediterranean Sea'",
  'type': 'complex',
  'total_tokens': 893,
  'prompt_tokens': 841,
  'completion_tokens': 52,
  'total_cost': 0.0013655,
  'time': 2.3472096920013428},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government',
  'type': 'simple',
  'total_tokens': 709,
  'prompt_tokens': 692,
  'completion_tokens': 17,
  'total_cost': 0.001072,
  'time': 1.3332724571228027},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name\nFROM province p\nJOIN desert d ON p.area > d.area\nORDER BY d.area DESC\nLIMIT 1',
  'type': 'simple',
  'total_tokens': 755,
  'prompt_tokens': 724,
  'completion_tokens': 31,
  'total_cost': 0.0011480000000000001,
  'time': 2.14277720451355},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area\nFROM desert\nORDER BY area DESC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 573,
  'prompt_tokens': 551,
  'completion_tokens': 22,
  'total_cost': 0.0008705,
  'time': 1.6330845355987549},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT c.name, COUNT(d.name) AS desert_count\nFROM continent c\nLEFT JOIN desert d ON c.name = d.name\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 652,
  'prompt_tokens': 618,
  'completion_tokens': 34,
  'total_cost': 0.000995,
  'time': 1.7805886268615723},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea\nFROM geo_sea\nWHERE province = 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 574,
  'prompt_tokens': 555,
  'completion_tokens': 19,
  'total_cost': 0.0008705,
  'time': 1.447582721710205},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT capital\nFROM country\nWHERE province = 'Europe'",
  'type': 'medium',
  'total_tokens': 802,
  'prompt_tokens': 787,
  'completion_tokens': 15,
  'total_cost': 0.0012105,
  'time': 1.5984082221984863},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage\nFROM language\nWHERE country = 'AD' AND name = 'French'",
  'type': 'complex',
  'total_tokens': 684,
  'prompt_tokens': 663,
  'completion_tokens': 21,
  'total_cost': 0.0010365,
  'time': 1.7712790966033936},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT river\nFROM river\nWHERE length > 1000',
  'type': 'complex',
  'total_tokens': 563,
  'prompt_tokens': 548,
  'completion_tokens': 15,
  'total_cost': 0.0008520000000000001,
  'time': 1.1353251934051514},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country.name, (countrypops.population - LAG(countrypops.population) OVER (ORDER BY countrypops.year)) AS population_growth\nFROM country\nJOIN countrypops ON country.code = countrypops.country\nORDER BY population_growth ASC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 762,
  'prompt_tokens': 690,
  'completion_tokens': 72,
  'total_cost': 0.001179,
  'time': 2.907404899597168},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT name\nFROM city\nWHERE name NOT IN (SELECT city FROM located)\nAND province = country',
  'type': 'complex',
  'total_tokens': 899,
  'prompt_tokens': 876,
  'completion_tokens': 23,
  'total_cost': 0.00136,
  'time': 1.722595453262329},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': "SELECT capital\nFROM province\nWHERE name = 'Andalucía'",
  'type': 'simple',
  'total_tokens': 594,
  'prompt_tokens': 578,
  'completion_tokens': 16,
  'total_cost': 0.0008990000000000001,
  'time': 1.634199619293213},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': "SELECT abbreviation\nFROM organization\nWHERE name = 'General Confederation of Trade Unions'",
  'type': 'simple',
  'total_tokens': 645,
  'prompt_tokens': 626,
  'completion_tokens': 19,
  'total_cost': 0.000977,
  'time': 1.6340296268463135},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': "SELECT city\nFROM organization\nWHERE abbreviation = 'UPU'",
  'type': 'simple',
  'total_tokens': 869,
  'prompt_tokens': 853,
  'completion_tokens': 16,
  'total_cost': 0.0013115000000000002,
  'time': 1.4058163166046143},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': 'SELECT c.name\nFROM country c\nJOIN ismember i ON c.code = i.country\nGROUP BY c.name\nHAVING COUNT(i.organization) = 1',
  'type': 'complex',
  'total_tokens': 922,
  'prompt_tokens': 882,
  'completion_tokens': 40,

In [13]:
queries = read_queries()
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 559,
  'prompt_tokens': 547,
  'completion_tokens': 12,
  'total_cost': 0.0008445,
  'time': 1.6058058738708496},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, country, area\nFROM province\nWHERE area > 10000',
  'type': 'simple',
  'total_tokens': 593,
  'prompt_tokens': 576,
  'completion_tokens': 17,
  'total_cost': 0.000898,
  'time': 1.5946290493011475},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE country = 'PL'",
  'type': 'medium',
  'total_tokens': 674,
  'prompt_tokens': 659,
  'completion_tokens': 15,
  'total_cost': 0.0010185,
  'time': 1.3679816722869873},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth\nFROM lake\nWHERE name = 'Kariba'",
  'type': 'simple',
  'total_tokens': 688,
  'prompt_tokens': 674,
  'completion_tokens': 14,
  'total_cost': 0.001039,
  'time': 1.6326994895935059},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = 'NL'",
  'type': 'complex',
  'total_tokens': 736,
  'prompt_tokens': 722,
  'completion_tokens': 14,
  'total_cost': 0.001111,
  'time': 1.2865848541259766},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage\nFROM religion\nWHERE country = 'TH' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 693,
  'prompt_tokens': 670,
  'completion_tokens': 23,
  'total_cost': 0.001051,
  'time': 1.882483720779419},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT r.name, COUNT(rt.river) AS num_provinces\nFROM river r\nLEFT JOIN riverthrough rt ON r.name = rt.river\nGROUP BY r.name',
  'type': 'medium',
  'total_tokens': 1259,
  'prompt_tokens': 1218,
  'completion_tokens': 41,
  'total_cost': 0.0019089999999999999,
  'time': 2.251774549484253},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name, code\nFROM country\nWHERE independence_date >= TO_DATE('8/1/1910', 'MM/DD/YYYY') AND independence_date <= TO_DATE('8/1/1950', 'MM/DD/YYYY')",
  'type': 'complex',
  'total_tokens': 626,
  'prompt_tokens': 579,
  'completion_tokens': 47,
  'total_cost': 0.0009625,
  'time': 1.9531314373016357},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 799,
  'prompt_tokens': 785,
  'completion_tokens': 14,
  'total_cost': 0.0012055,
  'time': 1.215757131576538},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital\nFROM country\nWHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 800,
  'prompt_tokens': 785,
  'completion_tokens': 15,
  'total_cost': 0.0012075,
  'time': 1.208740234375},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NER' AND area > 1000",
  'type': 'complex',
  'total_tokens': 596,
  'prompt_tokens': 576,
  'completion_tokens': 20,
  'total_cost': 0.0009040000000000001,
  'time': 1.715256929397583},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'medium',
  'total_tokens': 574,
  'prompt_tokens': 553,
  'completion_tokens': 21,
  'total_cost': 0.0008715000000000001,
  'time': 1.191786766052246},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 639,
  'prompt_tokens': 622,
  'completion_tokens': 17,
  'total_cost': 0.0009670000000000001,
  'time': 1.0927889347076416},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT mountain\nFROM mountain\nWHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 578,
  'prompt_tokens': 563,
  'completion_tokens': 15,
  'total_cost': 0.0008745000000000001,
  'time': 1.6352686882019043},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT g.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment\nFROM geo_sea g\nJOIN economy e ON g.country = e.country\nWHERE g.sea = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 777,
  'prompt_tokens': 717,
  'completion_tokens': 60,
  'total_cost': 0.0011955000000000002,
  'time': 2.350250482559204},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, country, province, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 662,
  'prompt_tokens': 641,
  'completion_tokens': 21,
  'total_cost': 0.0010035,
  'time': 1.4143342971801758},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name, city.country, city.province, city.population, city.elevation\nFROM city\nJOIN country ON city.country = country.code\nJOIN countrypops ON country.code = countrypops.country\nWHERE city.population > 100000\nAND city.elevation > 2500\nAND countrypops.population > 1',
  'type': 'complex',
  'total_tokens': 1055,
  'prompt_tokens': 976,
  'completion_tokens': 79,
  'total_cost': 0.001622,
  'time': 2.321439743041992},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government\nFROM politics',
  'type': 'simple',
  'total_tokens': 545,
  'prompt_tokens': 536,
  'completion_tokens': 9,
  'total_cost': 0.000822,
  'time': 1.0307610034942627},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name\nFROM province\nWHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 1053,
  'prompt_tokens': 1029,
  'completion_tokens': 24,
  'total_cost': 0.0015914999999999998,
  'time': 1.825286865234375},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage\nFROM ethnicgroup\nWHERE country = 'BRA'\nAND name = 'Mulatto'",
  'type': 'complex',
  'total_tokens': 695,
  'prompt_tokens': 670,
  'completion_tokens': 25,
  'total_cost': 0.001055,
  'time': 1.7896294593811035},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 891,
  'prompt_tokens': 875,
  'completion_tokens': 16,
  'total_cost': 0.0013445000000000002,
  'time': 1.1278047561645508},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 747,
  'prompt_tokens': 733,
  'completion_tokens': 14,
  'total_cost': 0.0011275,
  'time': 1.4733939170837402},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country1) \nFROM borders \nWHERE country2 = 'CS'",
  'type': 'medium',
  'total_tokens': 878,
  'prompt_tokens': 851,
  'completion_tokens': 27,
  'total_cost': 0.0013305,
  'time': 1.6072101593017578},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c \nJOIN geo_sea gs ON c.code = gs.country \nWHERE gs.sea = 'Caribbean Sea'",
  'type': 'complex',
  'total_tokens': 903,
  'prompt_tokens': 863,
  'completion_tokens': 40,
  'total_cost': 0.0013745,
  'time': 2.031590700149536},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c.name, SUM(cp.population) AS total_population\nFROM country c\nJOIN borders b ON c.code = b.country1\nJOIN countrypops cp ON b.country2 = cp.country\nGROUP BY c.name',
  'type': 'medium',
  'total_tokens': 888,
  'prompt_tokens': 834,
  'completion_tokens': 54,
  'total_cost': 0.001359,
  'time': 2.3538544178009033},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT m.name\nFROM mountain m\nJOIN mountainonisland moi ON m.name = moi.mountain\nJOIN geo_island gi ON moi.island = gi.island\nWHERE gi.island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 1063,
  'prompt_tokens': 1005,
  'completion_tokens': 58,
  'total_cost': 0.0016235000000000002,
  'time': 2.796804904937744},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nORDER BY area ASC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 678,
  'prompt_tokens': 655,
  'completion_tokens': 23,
  'total_cost': 0.0010285000000000001,
  'time': 1.3530688285827637},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN geo_river gr ON c.code = gr.country\nJOIN borders b ON c.code = b.country1\nWHERE b.country2 <> gr.country',
  'type': 'complex',
  'total_tokens': 909,
  'prompt_tokens': 862,
  'completion_tokens': 47,
  'total_cost': 0.0013870000000000002,
  'time': 2.150143623352051},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT country\nFROM geo_mountain\nGROUP BY country\nHAVING COUNT(DISTINCT province) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)',
  'type': 'complex',
  'total_tokens': 1003,
  'prompt_tokens': 961,
  'completion_tokens': 42,
  'total_cost': 0.0015255,
  'time': 2.079777717590332},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT code, SUM(length) AS total_border_length\nFROM borders\nGROUP BY code',
  'type': 'complex',
  'total_tokens': 714,
  'prompt_tokens': 693,
  'completion_tokens': 21,
  'total_cost': 0.0010815,
  'time': 1.4851956367492676},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN geo_river gr ON c.code = gr.country\nJOIN river r ON gr.river = r.name',
  'type': 'medium',
  'total_tokens': 1295,
  'prompt_tokens': 1254,
  'completion_tokens': 41,
  'total_cost': 0.0019630000000000003,
  'time': 1.9768390655517578},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT country.name, country.area\nFROM country\nJOIN geo_river ON country.code = geo_river.country\nWHERE geo_river.river = 'Chatanga'",
  'type': 'simple',
  'total_tokens': 745,
  'prompt_tokens': 706,
  'completion_tokens': 39,
  'total_cost': 0.0011370000000000002,
  'time': 2.0588788986206055},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation\nFROM airport\nWHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 756,
  'prompt_tokens': 737,
  'completion_tokens': 19,
  'total_cost': 0.0011435,
  'time': 1.645857572555542},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name\nFROM religion\nWHERE country = 'MX'",
  'type': 'medium',
  'total_tokens': 673,
  'prompt_tokens': 658,
  'completion_tokens': 15,
  'total_cost': 0.0010170000000000001,
  'time': 1.6229355335235596},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name, river, lake, sea\nFROM river\nWHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 1271,
  'prompt_tokens': 1246,
  'completion_tokens': 25,
  'total_cost': 0.001919,
  'time': 1.7560322284698486},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': 'SELECT c.name, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name\nORDER BY num_neighbors DESC',
  'type': 'complex',
  'total_tokens': 721,
  'prompt_tokens': 679,
  'completion_tokens': 42,
  'total_cost': 0.0011025,
  'time': 2.1747677326202393},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality\nFROM continent\nJOIN country ON continent.name = country.province\nJOIN population ON country.code = population.country\nGROUP BY continent.name',
  'type': 'simple',
  'total_tokens': 756,
  'prompt_tokens': 706,
  'completion_tokens': 50,
  'total_cost': 0.001159,
  'time': 2.2528324127197266},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(mortality_rate) \nFROM country \nWHERE continent = 'America' AND name != 'Brazil'",
  'type': 'complex',
  'total_tokens': 645,
  'prompt_tokens': 620,
  'completion_tokens': 25,
  'total_cost': 0.00098,
  'time': 1.5899388790130615},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT sea\nFROM geo_sea\nWHERE area > 8000 AND depth < 100',
  'type': 'simple',
  'total_tokens': 587,
  'prompt_tokens': 565,
  'completion_tokens': 22,
  'total_cost': 0.0008915000000000001,
  'time': 1.6298027038574219},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM geo_mountain WHERE country IN (SELECT code FROM country WHERE continent = 'Asia')",
  'type': 'complex',
  'total_tokens': 573,
  'prompt_tokens': 549,
  'completion_tokens': 24,
  'total_cost': 0.0008715,
  'time': 1.748270034790039},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT c.name\nFROM country c\nJOIN borders b ON c.code = b.country1\nJOIN geo_sea gs ON gs.country = b.country2\nWHERE gs.sea = 'Mediterranean Sea'",
  'type': 'complex',
  'total_tokens': 893,
  'prompt_tokens': 841,
  'completion_tokens': 52,
  'total_cost': 0.0013655,
  'time': 2.3472096920013428},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government',
  'type': 'simple',
  'total_tokens': 709,
  'prompt_tokens': 692,
  'completion_tokens': 17,
  'total_cost': 0.001072,
  'time': 1.3332724571228027},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name\nFROM province p\nJOIN desert d ON p.area > d.area\nORDER BY d.area DESC\nLIMIT 1',
  'type': 'simple',
  'total_tokens': 755,
  'prompt_tokens': 724,
  'completion_tokens': 31,
  'total_cost': 0.0011480000000000001,
  'time': 2.14277720451355},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area\nFROM desert\nORDER BY area DESC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 573,
  'prompt_tokens': 551,
  'completion_tokens': 22,
  'total_cost': 0.0008705,
  'time': 1.6330845355987549},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT c.name, COUNT(d.name) AS desert_count\nFROM continent c\nLEFT JOIN desert d ON c.name = d.name\nGROUP BY c.name',
  'type': 'complex',
  'total_tokens': 652,
  'prompt_tokens': 618,
  'completion_tokens': 34,
  'total_cost': 0.000995,
  'time': 1.7805886268615723},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea\nFROM geo_sea\nWHERE province = 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 574,
  'prompt_tokens': 555,
  'completion_tokens': 19,
  'total_cost': 0.0008705,
  'time': 1.447582721710205},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT capital\nFROM country\nWHERE province = 'Europe'",
  'type': 'medium',
  'total_tokens': 802,
  'prompt_tokens': 787,
  'completion_tokens': 15,
  'total_cost': 0.0012105,
  'time': 1.5984082221984863},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage\nFROM language\nWHERE country = 'AD' AND name = 'French'",
  'type': 'complex',
  'total_tokens': 684,
  'prompt_tokens': 663,
  'completion_tokens': 21,
  'total_cost': 0.0010365,
  'time': 1.7712790966033936},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT river\nFROM river\nWHERE length > 1000',
  'type': 'complex',
  'total_tokens': 563,
  'prompt_tokens': 548,
  'completion_tokens': 15,
  'total_cost': 0.0008520000000000001,
  'time': 1.1353251934051514},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT country.name, (countrypops.population - LAG(countrypops.population) OVER (ORDER BY countrypops.year)) AS population_growth\nFROM country\nJOIN countrypops ON country.code = countrypops.country\nORDER BY population_growth ASC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 762,
  'prompt_tokens': 690,
  'completion_tokens': 72,
  'total_cost': 0.001179,
  'time': 2.907404899597168},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT name\nFROM city\nWHERE name NOT IN (SELECT city FROM located)\nAND province = country',
  'type': 'complex',
  'total_tokens': 899,
  'prompt_tokens': 876,
  'completion_tokens': 23,
  'total_cost': 0.00136,
  'time': 1.722595453262329},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': "SELECT capital\nFROM province\nWHERE name = 'Andalucía'",
  'type': 'simple',
  'total_tokens': 594,
  'prompt_tokens': 578,
  'completion_tokens': 16,
  'total_cost': 0.0008990000000000001,
  'time': 1.634199619293213},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': "SELECT abbreviation\nFROM organization\nWHERE name = 'General Confederation of Trade Unions'",
  'type': 'simple',
  'total_tokens': 645,
  'prompt_tokens': 626,
  'completion_tokens': 19,
  'total_cost': 0.000977,
  'time': 1.6340296268463135},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': "SELECT city\nFROM organization\nWHERE abbreviation = 'UPU'",
  'type': 'simple',
  'total_tokens': 869,
  'prompt_tokens': 853,
  'completion_tokens': 16,
  'total_cost': 0.0013115000000000002,
  'time': 1.4058163166046143},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': 'SELECT c.name\nFROM country c\nJOIN ismember i ON c.code = i.country\nGROUP BY c.name\nHAVING COUNT(i.organization) = 1',
  'type': 'complex',
  'total_tokens': 922,
  'prompt_tokens': 882,
  'completion_tokens': 40,

#### Fixing queries

In [11]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = db_chain({
            "query": instance["question"]
        })
        end_time = time.time()
        instance["query_string"] = sql_query['result']
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        q[pos] = instance
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
        save_queries(q)

> Entering new SQLDatabaseSequentialChain chain...

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\chains\llm.py:278: UserWarning: The predict_and_parse method is deprecated, instead pass an output parser directly to LLMChain.
  warnings.warn(

Table names to use:
['borders', 'country', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How many countries that are close to the Mediterranean Sea?
SQLQuery:

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

> Finished chain.

> Finished chain.
41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(DISTINCT country.code)
FROM country
JOIN borders ON country.code = borders.country1 OR country.code = borders.country2
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Mediterranean Sea' 2.097057342529297 0.0013845


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'organization']

> Entering new SQLDatabaseChain chain...
 List the names of capital cities which are the base for organizations in alphabetical order
SQLQuery:
> Finished chain.

> Finished chain.
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT c.name
FROM city c
JOIN organization o ON c.name = o.city
ORDER BY c.name ASC 1.7531583309173584 0.0013445


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'geo_sea']

> Entering new SQLDatabaseChain chain...
Show the inflation rate of countries that are washed by the Arabian Sea
SQLQuery:
> Finished chain.

> Finished chain.
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, c.population, c.area, c.capital, g.inflation_rate
FROM country c
JOIN geo_sea gs ON c.code = gs.country
JOIN sea s ON gs.sea = s.name
WHERE s.name = 'Arabian Sea' 1.83270263671875 0.0011945000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent']

> Entering new SQLDatabaseChain chain...
What area is the largest continent?
SQLQuery:
> Finished chain.

> Finished chain.
73 What area is the largest continent? SELECT name, area
FROM continent
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY; 1.319633960723877 0.000719


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
What are the 3 airports with the largest name?
SQLQuery:
> Finished chain.

> Finished chain.
86 What are the 3 airports with the largest name? SELECT iatacode, name
FROM airport
ORDER BY LENGTH(name) DESC
FETCH FIRST 3 ROWS ONLY; 1.5994760990142822 0.0011545000000000001


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy', 'country']

> Entering new SQLDatabaseChain chain...
What is the percentage of industries in relation to Japan's economy?
SQLQuery:
> Finished chain.

> Finished chain.
100 What is the percentage of industries in relation to Japan's economy? SELECT industry / (agriculture + service + industry) * 100
FROM economy
WHERE country = 'JP' 1.545210361480713 0.0011455