# SQLDatabaseSequentialChain - Mondial FK - GPT 3.5

In [1]:
!pip install langchain_experimental

Requirement already satisfied: langchain_experimental in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (0.0.17)
Requirement already satisfied: langchain>=0.0.239 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain_experimental) (0.0.289)
Requirement already satisfied: PyYAML>=5.3 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.0.18)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (3.8.4)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (4.0.2)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (0.5.9)
Requirement already satisfied: langsmith<0.1.0,>=0.0.21 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (0.0.37)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (1.25.1)
Requirement already satisfied: pydantic<3,>=1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (1.10.11)
Requirement already satisfied: requests<3,>=2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (2.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.3.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (3.19.0)
Requirement already satisfied: marshmallow-enum<2.0.0,>=1.5.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (1.5.1)
Requirement already satisfied: typing-inspect>=0.4.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (0.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from pydantic<3,>=1->langchain>=0.0.239->langchain_experimental) (4.6.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (2021.10.8)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain>=0.0.239->langchain_experimental) (2.0.2)
Requirement already satisfied: packaging>=17.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (21.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from packaging>=17.0->marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (3.0.9)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from langchain.sql_database import SQLDatabase
from langchain.chains import LLMChain
from langchain_experimental.sql.base import SQLDatabaseSequentialChain
from langchain.llms import OpenAI
from urllib.parse import quote  
from langchain.prompts.prompt import PromptTemplate
from langchain.callbacks import get_openai_callback

from dotenv import load_dotenv
import os
import sys
import json
import time
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")
    


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

# Schema

In [3]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/13_sql_sequential_queries_chatgpt4_{SCHEMA}_fk.json"

In [4]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)

    queries = data["queries"]
    return queries

## Conexão

In [ ]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

### Utilizando o SQLDatabase para pegar todas as informações do database

In [6]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

In [7]:
len(db.get_table_names())

46

## Criando o SQLChainPrompt especifico para o SQLDatabaseSequential

In [8]:
f = open(f"prompts/sql_chain_prompt_template.txt", "r")
prompt_template = f.read()
f.close()


QUERY_PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(QUERY_PROMPT)

input_variables=['input', 'table_info', 'top_k'] output_parser=None partial_variables={} template="Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer. Unless the user specifies in his question a specific number of examples he wishes to obtain, don't limits your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}" template_format='f-string' validate_template=True

## Criando o Chain para gerar SQL

In [ ]:
llm = OpenAI(temperature=0,model_name='gpt-4',verbose=True)

db_chain = SQLDatabaseSequentialChain.from_llm(llm, db.db, query_prompt=QUERY_PROMPT, verbose=True, use_query_checker=True, return_intermediate_steps=False, return_sql=True)
db_chain

In [10]:
# with get_openai_callback() as cb:
#     sql_query = db_chain({
#         "query": "What is the area of Thailand?"
#     })
#     print(f"Total Tokens: {cb.total_tokens}")
#     print(f"Prompt Tokens: {cb.prompt_tokens}")
#     print(f"Completion Tokens: {cb.completion_tokens}")
#     print(f"Total Cost (USD): ${cb.total_cost}")
    

# sql_query = sql_query['result']

# print(sql_query)

## Preparando as consultas em linguagem natural para rodar no LLM

In [11]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Rodando as consultas no LLM para gerar SQL

In [26]:
# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.

number_of_queries_to_delay = 1
count = 0
for instance in queries:
      
        
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = db_chain({
            "query": instance["question"]
        })
        end_time = time.time()
        instance["query_string"] = sql_query['result']
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    time.sleep(5)

    count += 1
    
queries

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
What is the area of Thailand?
SQLQuery:
> Finished chain.

> Finished chain.
1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand' 3.083488702774048 0.015179999999999999


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province']

> Entering new SQLDatabaseChain chain...
What are the provinces with an area greater than 10000?
SQLQuery:
> Finished chain.

> Finished chain.
2 What are the provinces with an area greater than 10000? SELECT name, area FROM province WHERE area > 10000 2.7498795986175537 0.01614


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['language', 'country']

> Entering new SQLDatabaseChain chain...
What are the languages spoken in Poland?
SQLQuery:
> Finished chain.

> Finished chain.
3 What are the languages spoken in Poland? SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland') 2.561751365661621 0.018209999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_lake', 'lake']

> Entering new SQLDatabaseChain chain...
How deep is Lake Kariba?
SQLQuery:
> Finished chain.

> Finished chain.
4 How deep is Lake Kariba? SELECT depth FROM lake WHERE name = 'Lake Kariba'; 2.099735736846924 0.02268


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province']

> Entering new SQLDatabaseChain chain...
What is the total of provinces of Netherlands?
SQLQuery:
> Finished chain.

> Finished chain.
5 What is the total of provinces of Netherlands? SELECT COUNT(*) FROM province WHERE country = (SELECT code FROM country WHERE name = 'Netherlands') 3.857541561126709 0.01917


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'religion', 'ethnicgroup']

> Entering new SQLDatabaseChain chain...
What is the percentage of religious people are hindu in thailand?
SQLQuery:
> Finished chain.

> Finished chain.
6 What is the percentage of religious people are hindu in thailand? SELECT percentage FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Thailand') AND name = 'Hindu' 4.306463003158569 0.02166


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['river', 'riverthrough', 'province']

> Entering new SQLDatabaseChain chain...
List the number of provinces each river flows through.
SQLQuery:
> Finished chain.

> Finished chain.
7 List the number of provinces each river flows through. SELECT river, COUNT(province.name) AS number_of_provinces
FROM river
JOIN riverthrough ON river.name = riverthrough.river
JOIN province ON riverthrough.lake = province.name
GROUP BY river 3.7146804332733154 0.03423


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
Find all countries that became independent between 8/1/1910 and 8/1/1950.
SQLQuery:
> Finished chain.

> Finished chain.
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. Sorry, but the provided schema does not contain any information about the date of independence of the countries. Therefore, it is not possible to create a SQL query to answer this question. 3.9035794734954834 0.01764


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'country']

> Entering new SQLDatabaseChain chain...
What are the cities of Cuba?
SQLQuery:
> Finished chain.

> Finished chain.
9 What are the cities of Cuba? SELECT name FROM city WHERE country = (SELECT code FROM country WHERE name = 'Cuba') 2.851534605026245 0.02064


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'city']

> Entering new SQLDatabaseChain chain...
What is the capital of Georgia?
SQLQuery:
> Finished chain.

> Finished chain.
10 What is the capital of Georgia? SELECT capital FROM country WHERE name = 'Georgia' 2.5922915935516357 0.0201


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province', 'provpops']

> Entering new SQLDatabaseChain chain...
How many provinces have areas greater than 1000 in Niger?
SQLQuery:
> Finished chain.

> Finished chain.
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(*) FROM province WHERE area > 1000 AND country = 'Niger' 2.7995493412017822 0.020579999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
Tell me about the country with the area largest.
SQLQuery:
> Finished chain.

> Finished chain.
12 Tell me about the country with the area largest. SELECT name, capital, province, area, population FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY 3.2915048599243164 0.016079999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['organization', 'province']

> Entering new SQLDatabaseChain chain...
What is the host province and year of establishment of the organization "International Energy Agency"?
SQLQuery:
> Finished chain.

> Finished chain.
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established
FROM organization
WHERE name = 'International Energy Agency' 4.237236499786377 0.020640000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain', 'mountain']

> Entering new SQLDatabaseChain chain...
Find the name of all mountains whose elevation is higher than 1000.
SQLQuery:
> Finished chain.

> Finished chain.
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name FROM mountain WHERE elevation > 1000 2.316478967666626 0.02094


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy', 'geo_sea', 'country']

> Entering new SQLDatabaseChain chain...
Tell me the economy of the Caribbean Sea.
SQLQuery:
> Finished chain.

> Finished chain.
15 Tell me the economy of the Caribbean Sea. SELECT e.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM economy e
JOIN geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea'
ORDER BY e.gdp DESC; 6.004743576049805 0.0249


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'located']

> Entering new SQLDatabaseChain chain...
Show the cities with longitude between 0 and 6.
SQLQuery:
> Finished chain.

> Finished chain.
16 Show the cities with longitude between 0 and 6. SELECT name, longitude FROM city WHERE longitude BETWEEN 0 AND 6 ORDER BY longitude ASC; 4.226959466934204 0.02334


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'citypops', 'country', 'countrypops']

> Entering new SQLDatabaseChain chain...
Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.
SQLQuery:
> Finished chain.

> Finished chain.
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT city.name, city.country, city.population, city.elevation
FROM city
JOIN countrypops ON city.country = countrypops.country
WHERE city.population > 100000 AND city.elevation > 2500 AND countrypops.population > 1
ORDER BY city.population DESC
FETCH FIRST 5 ROWS ONLY; 10.12136960029602 0.03378


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['politics']

> Entering new SQLDatabaseChain chain...
Show all the different types of government.
SQLQuery:
> Finished chain.

> Finished chain.
18 Show all the different types of government. SELECT DISTINCT government FROM politics 2.9246768951416016 0.01443


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province', 'provincelocalname', 'provinceothername']

> Entering new SQLDatabaseChain chain...
List all provinces in Germany
SQLQuery:
> Finished chain.

> Finished chain.
19 List all provinces in Germany SELECT name FROM province WHERE country = (SELECT code FROM country WHERE name = 'Germany') 4.851166248321533 0.02529


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['ethnicgroup', 'country', 'countrypops']

> Entering new SQLDatabaseChain chain...
What is the percentage of mulatto ethnicity in Brazil?
SQLQuery:
> Finished chain.

> Finished chain.
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto'; 2.9949111938476562 0.021689999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['citypops', 'city']

> Entering new SQLDatabaseChain chain...
How many cities have populations less than 1000?
SQLQuery:
> Finished chain.

> Finished chain.
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000 3.462953567504883 0.02289


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport', 'country']

> Entering new SQLDatabaseChain chain...
What is the average elevation of airports in America?
SQLQuery:
> Finished chain.

> Finished chain.
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport WHERE country = 'US' 3.0848138332366943 0.02205


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country', 'encompasses', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How many countries are adjacent to (or ecompassed by) the Caribbean Sea?
SQLQuery:
> Finished chain.

> Finished chain.
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea' 4.058062553405762 0.026339999999999995


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'encompasses', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?
SQLQuery:
> Finished chain.

> Finished chain.
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(area)
FROM country
WHERE code IN (
    SELECT country
    FROM geo_sea
    WHERE sea = 'Caribbean Sea'
) 4.858872413635254 0.02433


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'countrypops']

> Entering new SQLDatabaseChain chain...
For all countries, give the sum of the population of all its neighbors
SQLQuery:
> Finished chain.

> Finished chain.
25 For all countries, give the sum of the population of all its neighbors SELECT b.country1, SUM(cp.population) AS total_population
FROM borders b
JOIN countrypops cp ON b.country2 = cp.country
GROUP BY b.country1
ORDER BY total_population DESC; 5.950219392776489 0.021179999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mountain', 'mountainonisland', 'island']

> Entering new SQLDatabaseChain chain...
What mountains are on the island of Borneo?
SQLQuery:
> Finished chain.

> Finished chain.
26 What mountains are on the island of Borneo? SELECT mountain FROM mountainonisland WHERE island = 'Borneo'; 2.788640260696411 0.02481


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'countrypops']

> Entering new SQLDatabaseChain chain...
Provide the name and total population of the country with the smallest area.
SQLQuery:
> Finished chain.

> Finished chain.
27 Provide the name and total population of the country with the smallest area. SELECT name, population
FROM country
ORDER BY area ASC
FETCH FIRST ROW ONLY; 2.848968982696533 0.01926


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'geo_river', 'geo_estuary', 'borders']

> Entering new SQLDatabaseChain chain...
The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.
SQLQuery:
> Finished chain.

> Finished chain.
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT gr.country
FROM geo_river gr
JOIN geo_estuary ge ON gr.river = ge.river
JOIN borders b ON gr.country = b.country1 AND ge.country = b.country2
WHERE gr.country != ge.country 4.615452289581299 0.029130000000000003


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province', 'geo_mountain', 'located']

> Entering new SQLDatabaseChain chain...
The codes of all countries where at least one mountain is located in each of their provinces
SQLQuery:
> Finished chain.

> Finished chain.
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT c.code
FROM country c
WHERE NOT EXISTS (
    SELECT 1
    FROM province p
    WHERE p.country = c.code
    AND NOT EXISTS (
        SELECT 1
        FROM geo_mountain gm
        WHERE gm.province = p.name
        AND gm.country = p.country
    )
) 7.8767101764678955 0.03156


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country']

> Entering new SQLDatabaseChain chain...
The code and total border lengths of all countries with at least one border.
SQLQuery:
> Finished chain.

> Finished chain.
30 The code and total border lengths of all countries with at least one border. SELECT c.code, SUM(b.length) as total_border_length
FROM country c
JOIN borders b ON c.code = b.country1 OR c.code = b.country2
GROUP BY c.code 6.304697275161743 0.02049


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'geo_river', 'geo_source']

> Entering new SQLDatabaseChain chain...
The names and codes of all countries in which at least one river originates.
SQLQuery:
> Finished chain.

> Finished chain.
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT c.name, c.code
FROM country c
JOIN geo_source gs ON c.code = gs.country 3.4592196941375732 0.023639999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_river', 'country']

> Entering new SQLDatabaseChain chain...
What is the area and country of the Chatanga River?
SQLQuery:
> Finished chain.

> Finished chain.
32 What is the area and country of the Chatanga River? SELECT c.name, c.area
FROM country c
JOIN geo_river gr ON c.code = gr.country
WHERE gr.river = 'Chatanga River' 5.640844106674194 0.02055


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
Show the Airports with elevation more than 3000
SQLQuery:
> Finished chain.

> Finished chain.
33 Show the Airports with elevation more than 3000 SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000 3.6063008308410645 0.01956


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'religion']

> Entering new SQLDatabaseChain chain...
What are the religions practiced in Mexico?
SQLQuery:
> Finished chain.

> Finished chain.
34 What are the religions practiced in Mexico? SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico') 2.857881784439087 0.01815


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_river', 'river', 'mergeswith']

> Entering new SQLDatabaseChain chain...
Show all rivers that do not flow into the sea.
SQLQuery:
> Finished chain.

> Finished chain.
35 Show all rivers that do not flow into the sea. SELECT name FROM river WHERE sea IS NULL 2.729651927947998 0.03285


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country']

> Entering new SQLDatabaseChain chain...
List African countries by number of neighbors.
SQLQuery:
> Finished chain.

> Finished chain.
36 List African countries by number of neighbors. SELECT c.name, COUNT(b.country2) as num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
GROUP BY c.name
ORDER BY num_neighbors DESC; 4.165444612503052 0.02007


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'country', 'population']

> Entering new SQLDatabaseChain chain...
What is the average infant mortality rate for each continent?
SQLQuery:
> Finished chain.

> Finished chain.
37 What is the average infant mortality rate for each continent? SELECT continent.name AS Continent, AVG(population.infant_mortality) AS Average_Infant_Mortality
FROM continent
JOIN country ON continent.name = country.province
JOIN population ON country.code = population.country
GROUP BY continent.name; 5.308721542358398 0.02064


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'economy']

> Entering new SQLDatabaseChain chain...
What is the average mortality rate of the countries in America without considering Brazil?
SQLQuery:
> Finished chain.

> Finished chain.
38 What is the average mortality rate of the countries in America without considering Brazil? Sorry, but the provided schema does not contain any information about the mortality rate of countries. 3.2039451599121094 0.01884


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_sea', 'sea']

> Entering new SQLDatabaseChain chain...
List seas with area greater than 8000 and depth less than 100.
SQLQuery:
> Finished chain.

> Finished chain.
39 List seas with area greater than 8000 and depth less than 100. SELECT name, area, depth FROM sea WHERE area > 8000 AND depth < 100 2.6087381839752197 0.019200000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain', 'mountain', 'continent']

> Entering new SQLDatabaseChain chain...
How many mountains are there in Asia?
SQLQuery:
> Finished chain.

> Finished chain.
40 How many mountains are there in Asia? SELECT COUNT(*)
FROM mountain m
JOIN geo_mountain gm ON m.name = gm.mountain
JOIN continent c ON gm.country = c.name
WHERE c.name = 'Asia' 5.641625165939331 0.02334


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'geo_sea', 'located', 'locatedon']

> Entering new SQLDatabaseChain chain...
What are the countries that are close to the Mediterranean Sea?
SQLQuery:
> Finished chain.

> Finished chain.
41 What are the countries that are close to the Mediterranean Sea? SELECT c.name
FROM country c
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Mediterranean Sea'
ORDER BY c.name 5.5185558795928955 0.030689999999999995


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy', 'politics']

> Entering new SQLDatabaseChain chain...
Show the total for each type of government.
SQLQuery:
> Finished chain.

> Finished chain.
42 Show the total for each type of government. SELECT government, COUNT(*) as total FROM politics GROUP BY government 2.6627037525177 0.017669999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['desert', 'province']

> Entering new SQLDatabaseChain chain...
Which province has the largest desert in the world?
SQLQuery:
> Finished chain.

> Finished chain.
43 Which province has the largest desert in the world? SELECT p.name, p.country
FROM province p
JOIN desert d ON p.name = d.name
ORDER BY d.area DESC
FETCH FIRST 1 ROW ONLY; 4.168090343475342 0.02121


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['desert', 'geo_desert']

> Entering new SQLDatabaseChain chain...
What is the largest desert in the world?
SQLQuery:
> Finished chain.

> Finished chain.
44 What is the largest desert in the world? SELECT name, MAX(area) FROM desert 2.2939369678497314 0.02004


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'desert', 'geo_desert']


[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 494,
  'prompt_tokens': 482,
  'completion_tokens': 12,
  'total_cost': 0.015179999999999999,
  'time': 3.083488702774048},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, area FROM province WHERE area > 10000',
  'type': 'simple',
  'total_tokens': 525,
  'prompt_tokens': 512,
  'completion_tokens': 13,
  'total_cost': 0.01614,
  'time': 2.7498795986175537},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland')",
  'type': 'medium',
  'total_tokens': 585,
  'prompt_tokens': 563,
  'completion_tokens': 22,
  'total_cost': 0.018209999999999997,
  'time': 2.561751365661621},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'total_tokens': 739,
  'prompt_tokens': 722,
  'completion_tokens': 17,
  'total_cost': 0.02268,
  'time': 2.099735736846924},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = (SELECT code FROM country WHERE name = 'Netherlands')",
  'type': 'complex',
  'total_tokens': 616,
  'prompt_tokens': 593,
  'completion_tokens': 23,
  'total_cost': 0.01917,
  'time': 3.857541561126709},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Thailand') AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 689,
  'prompt_tokens': 656,
  'completion_tokens': 33,
  'total_cost': 0.02166,
  'time': 4.306463003158569},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river, COUNT(province.name) AS number_of_provinces\nFROM river\nJOIN riverthrough ON river.name = riverthrough.river\nJOIN province ON riverthrough.lake = province.name\nGROUP BY river',
  'type': 'medium',
  'total_tokens': 1092,
  'prompt_tokens': 1043,
  'completion_tokens': 49,
  'total_cost': 0.03423,
  'time': 3.7146804332733154},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': 'Sorry, but the provided schema does not contain any information about the date of independence of the countries. Therefore, it is not possible to create a SQL query to answer this question.',
  'type': 'complex',
  'total_tokens': 551,
  'prompt_tokens': 514,
  'completion_tokens': 37,
  'total_cost': 0.01764,
  'time': 3.9035794734954834},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = (SELECT code FROM country WHERE name = 'Cuba')",
  'type': 'medium',
  'total_tokens': 666,
  'prompt_tokens': 644,
  'completion_tokens': 22,
  'total_cost': 0.02064,
  'time': 2.851534605026245},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 657,
  'prompt_tokens': 644,
  'completion_tokens': 13,
  'total_cost': 0.0201,
  'time': 2.5922915935516357},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) FROM province WHERE area > 1000 AND country = 'Niger'",
  'type': 'complex',
  'total_tokens': 663,
  'prompt_tokens': 640,
  'completion_tokens': 23,
  'total_cost': 0.020579999999999998,
  'time': 2.7995493412017822},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, capital, province, area, population FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 512,
  'prompt_tokens': 488,
  'completion_tokens': 24,
  'total_cost': 0.016079999999999997,
  'time': 3.2915048599243164},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established \nFROM organization \nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 669,
  'prompt_tokens': 650,
  'completion_tokens': 19,
  'total_cost': 0.020640000000000002,
  'time': 4.237236499786377},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mountain WHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 683,
  'prompt_tokens': 668,
  'completion_tokens': 15,
  'total_cost': 0.02094,
  'time': 2.316478967666626},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment \nFROM economy e \nJOIN geo_sea gs ON e.country = gs.country \nWHERE gs.sea = 'Caribbean Sea'\nORDER BY e.gdp DESC;",
  'type': 'medium',
  'total_tokens': 761,
  'prompt_tokens': 692,
  'completion_tokens': 69,
  'total_cost': 0.0249,
  'time': 6.004743576049805},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, longitude FROM city WHERE longitude BETWEEN 0 AND 6 ORDER BY longitude ASC;',
  'type': 'simple',
  'total_tokens': 756,
  'prompt_tokens': 734,
  'completion_tokens': 22,
  'total_cost': 0.02334,
  'time': 4.226959466934204},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name, city.country, city.population, city.elevation\nFROM city\nJOIN countrypops ON city.country = countrypops.country\nWHERE city.population > 100000 AND city.elevation > 2500 AND countrypops.population > 1\nORDER BY city.population DESC\nFETCH FIRST 5 ROWS ONLY;',
  'type': 'complex',
  'total_tokens': 1043,
  'prompt_tokens': 960,
  'completion_tokens': 83,
  'total_cost': 0.03378,
  'time': 10.12136960029602},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 474,
  'prompt_tokens': 467,
  'completion_tokens': 7,
  'total_cost': 0.01443,
  'time': 2.9246768951416016},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name FROM province WHERE country = (SELECT code FROM country WHERE name = 'Germany')",
  'type': 'medium',
  'total_tokens': 813,
  'prompt_tokens': 783,
  'completion_tokens': 30,
  'total_cost': 0.02529,
  'time': 4.851166248321533},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto';",
  'type': 'complex',
  'total_tokens': 696,
  'prompt_tokens': 669,
  'completion_tokens': 27,
  'total_cost': 0.021689999999999997,
  'time': 2.9949111938476562},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 747,
  'prompt_tokens': 731,
  'completion_tokens': 16,
  'total_cost': 0.02289,
  'time': 3.462953567504883},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'US'",
  'type': 'complex',
  'total_tokens': 719,
  'prompt_tokens': 703,
  'completion_tokens': 16,
  'total_cost': 0.02205,
  'time': 3.0848138332366943},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea'",
  'type': 'medium',
  'total_tokens': 849,
  'prompt_tokens': 820,
  'completion_tokens': 29,
  'total_cost': 0.026339999999999995,
  'time': 4.058062553405762},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(area) \nFROM country \nWHERE code IN (\n    SELECT country \n    FROM geo_sea \n    WHERE sea = 'Caribbean Sea'\n)",
  'type': 'complex',
  'total_tokens': 772,
  'prompt_tokens': 733,
  'completion_tokens': 39,
  'total_cost': 0.02433,
  'time': 4.858872413635254},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT b.country1, SUM(cp.population) AS total_population\nFROM borders b\nJOIN countrypops cp ON b.country2 = cp.country\nGROUP BY b.country1\nORDER BY total_population DESC;',
  'type': 'medium',
  'total_tokens': 656,
  'prompt_tokens': 606,
  'completion_tokens': 50,
  'total_cost': 0.021179999999999997,
  'time': 5.950219392776489},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain FROM mountainonisland WHERE island = 'Borneo';",
  'type': 'simple',
  'total_tokens': 805,
  'prompt_tokens': 783,
  'completion_tokens': 22,
  'total_cost': 0.02481,
  'time': 2.788640260696411},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population \nFROM country \nORDER BY area ASC \nFETCH FIRST ROW ONLY;',
  'type': 'simple',
  'total_tokens': 618,
  'prompt_tokens': 594,
  'completion_tokens': 24,
  'total_cost': 0.01926,
  'time': 2.848968982696533},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT gr.country\nFROM geo_river gr\nJOIN geo_estuary ge ON gr.river = ge.river\nJOIN borders b ON gr.country = b.country1 AND ge.country = b.country2\nWHERE gr.country != ge.country',
  'type': 'complex',
  'total_tokens': 911,
  'prompt_tokens': 851,
  'completion_tokens': 60,
  'total_cost': 0.029130000000000003,
  'time': 4.615452289581299},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nWHERE NOT EXISTS (\n    SELECT 1\n    FROM province p\n    WHERE p.country = c.code\n    AND NOT EXISTS (\n        SELECT 1\n        FROM geo_mountain gm\n        WHERE gm.province = p.name\n        AND gm.country = p.country\n    )\n)',
  'type': 'complex',
  'total_tokens': 975,
  'prompt_tokens': 898,
  'completion_tokens': 77,
  'total_cost': 0.03156,
  'time': 7.8767101764678955},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.code, SUM(b.length) as total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1 OR c.code = b.country2\nGROUP BY c.code',
  'type': 'complex',
  'total_tokens': 640,
  'prompt_tokens': 597,
  'completion_tokens': 43,
  'total_cost': 0.02049,
  'time': 6.304697275161743},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN geo_source gs ON c.code = gs.country',
  'type': 'medium',
  'total_tokens': 758,
  'prompt_tokens': 728,
  'completion_tokens': 30,
  'total_cost': 0.023639999999999998,
  'time': 3.4592196941375732},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT c.name, c.area \nFROM country c \nJOIN geo_river gr ON c.code = gr.country \nWHERE gr.river = 'Chatanga River'",
  'type': 'simple',
  'total_tokens': 647,
  'prompt_tokens': 609,
  'completion_tokens': 38,
  'total_cost': 0.02055,
  'time': 5.640844106674194},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 635,
  'prompt_tokens': 618,
  'completion_tokens': 17,
  'total_cost': 0.01956,
  'time': 3.6063008308410645},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico')",
  'type': 'medium',
  'total_tokens': 584,
  'prompt_tokens': 563,
  'completion_tokens': 21,
  'total_cost': 0.01815,
  'time': 2.857881784439087},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name FROM river WHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 1079,
  'prompt_tokens': 1063,
  'completion_tokens': 16,
  'total_cost': 0.03285,
  'time': 2.729651927947998},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': 'SELECT c.name, COUNT(b.country2) as num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nGROUP BY c.name\nORDER BY num_neighbors DESC;',
  'type': 'complex',
  'total_tokens': 626,
  'prompt_tokens': 583,
  'completion_tokens': 43,
  'total_cost': 0.02007,
  'time': 4.165444612503052},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT continent.name AS Continent, AVG(population.infant_mortality) AS Average_Infant_Mortality\nFROM continent\nJOIN country ON continent.name = country.province\nJOIN population ON country.code = population.country\nGROUP BY continent.name;',
  'type': 'simple',
  'total_tokens': 634,
  'prompt_tokens': 580,
  'completion_tokens': 54,
  'total_cost': 0.02064,
  'time': 5.308721542358398},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': 'Sorry, but the provided schema does not contain any information about the mortality rate of countries.',
  'type': 'complex',
  'total_tokens': 607,
  'prompt_tokens': 586,
  'completion_tokens': 21,
  'total_cost': 0.01884,
  'time': 3.2039451599121094},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name, area, depth FROM sea WHERE area > 8000 AND depth < 100',
  'type': 'simple',
  'total_tokens': 616,
  'prompt_tokens': 592,
  'completion_tokens': 24,
  'total_cost': 0.019200000000000002,
  'time': 2.6087381839752197},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) \nFROM mountain m \nJOIN geo_mountain gm ON m.name = gm.mountain \nJOIN continent c ON gm.country = c.name \nWHERE c.name = 'Asia'",
  'type': 'complex',
  'total_tokens': 733,
  'prompt_tokens': 688,
  'completion_tokens': 45,
  'total_cost': 0.02334,
  'time': 5.641625165939331},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT c.name \nFROM country c \nJOIN geo_sea gs ON c.code = gs.country \nWHERE gs.sea = 'Mediterranean Sea'\nORDER BY c.name",
  'type': 'complex',
  'total_tokens': 977,
  'prompt_tokens': 931,
  'completion_tokens': 46,
  'total_cost': 0.030689999999999995,
  'time': 5.5185558795928955},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) as total FROM politics GROUP BY government',
  'type': 'simple',
  'total_tokens': 573,
  'prompt_tokens': 557,
  'completion_tokens': 16,
  'total_cost': 0.017669999999999998,
  'time': 2.6627037525177},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT p.name, p.country\nFROM province p\nJOIN desert d ON p.name = d.name\nORDER BY d.area DESC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 669,
  'prompt_tokens': 631,
  'completion_tokens': 38,
  'total_cost': 0.02121,
  'time': 4.168090343475342},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, MAX(area) FROM desert',
  'type': 'simple',
  'total_tokens': 654,
  'prompt_tokens': 640,
  'completion_tokens': 14,
  'total_cost': 0.02004,
  'time': 2.2939369678497314},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT continent.name, COUNT(geo_desert.desert) as desert_count\nFROM continent\nJOIN geo_desert ON continent.name = geo_desert.country\nGROUP BY continent.name',
  'type': 'complex',
  'total_tokens': 728,
  'prompt_tokens': 684,
  'completion_tokens': 44,
  'total_cost': 0.02316,
  'time': 5.432589769363403},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea FROM geo_sea WHERE province IN (SELECT province FROM geo_sea WHERE sea = 'Banda Sea') AND sea != 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 554,
  'prompt_tokens': 519,
  'completion_tokens': 35,
  'total_cost': 0.017669999999999998,
  'time': 3.5252127647399902},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT country.name, country.capital \nFROM country \nJOIN encompasses ON country.code = encompasses.country \nWHERE encompasses.continent = 'Europe'\nORDER BY country.name",
  'type': 'medium',
  'total_tokens': 820,
  'prompt_tokens': 781,
  'completion_tokens': 39,
  'total_cost': 0.02577,
  'time': 5.084985256195068},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage FROM language WHERE country = (SELECT code FROM country WHERE name = 'Andorra') AND name = 'French'",
  'type': 'complex',
  'total_tokens': 653,
  'prompt_tokens': 623,
  'completion_tokens': 30,
  'total_cost': 0.020489999999999998,
  'time': 4.457325220108032},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name, length FROM river WHERE length > 1000',
  'type': 'complex',
  'total_tokens': 991,
  'prompt_tokens': 974,
  'completion_tokens': 17,
  'total_cost': 0.030239999999999996,
  'time': 4.135421276092529},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT cp1.country, (cp2.population - cp1.population) as growth\nFROM countrypops cp1\nJOIN countrypops cp2 ON cp1.country = cp2.country AND cp1.year = cp2.year - 1\nORDER BY growth ASC\nFETCH FIRST 1 ROW ONLY;',
  'type': 'simple',
  'total_tokens': 653,
  'prompt_tokens': 582,
  'completion_tokens': 71,
  'total_cost': 0.02172,
  'time': 4.838058710098267},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT name FROM city \nWHERE (name, country, province) NOT IN \n(SELECT city, country, province FROM located)\nAND name IN \n(SELECT capital FROM country)\nORDER BY name',
  'type': 'complex',
  'total_tokens': 788,
  'prompt_tokens': 748,
  'completion_tokens': 40,
  'total_cost': 0.02484,
  'time': 6.045565366744995},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': "SELECT capital FROM province WHERE name = 'Andalucía'",
  'type': 'simple',
  'total_tokens': 733,
  'prompt_tokens': 710,
  'completion_tokens': 23,
  'total_cost': 0.02268,
  'time': 2.924285650253296},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': "SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions';",
  'type': 'simple',
  'total_tokens': 564,
  'prompt_tokens': 547,
  'completion_tokens': 17,
  'total_cost': 0.01743,

In [ ]:
queries = read_queries()
queries

#### Fixing queries

In [12]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = db_chain({
            "query": instance["question"]
        })
        end_time = time.time()
        instance["query_string"] = sql_query['result']
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        q[pos] = instance
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
        save_queries(q)

> Entering new SQLDatabaseSequentialChain chain...

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\chains\llm.py:278: UserWarning: The predict_and_parse method is deprecated, instead pass an output parser directly to LLMChain.
  warnings.warn(

Table names to use:
['country', 'encompasses', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How many countries that are close to the Mediterranean Sea?
SQLQuery:

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

> Finished chain.

> Finished chain.
41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Mediterranean Sea' 3.108382225036621 0.022949999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'organization']

> Entering new SQLDatabaseChain chain...
 List the names of capital cities which are the base for organizations in alphabetical order
SQLQuery:
> Finished chain.

> Finished chain.
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT city.name
FROM city
JOIN organization ON city.name = organization.city AND city.country = organization.country AND city.province = organization.province
WHERE city.name IN (SELECT capital FROM country)
ORDER BY city.name ASC; 4.617083787918091 0.02412


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'economy', 'geo_sea']

> Entering new SQLDatabaseChain chain...
Show the inflation rate of countries that are washed by the Arabian Sea
SQLQuery:
> Finished chain.

> Finished chain.
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Arabian Sea'
ORDER BY e.inflation DESC; 3.8639028072357178 0.0246


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'encompasses']

> Entering new SQLDatabaseChain chain...
What area is the largest continent?
SQLQuery:
> Finished chain.

> Finished chain.
73 What area is the largest continent? SELECT name, area
FROM continent
ORDER BY area DESC
FETCH FIRST ROW ONLY; 2.865377187728882 0.017099999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
What are the 3 airports with the largest name?
SQLQuery:
> Finished chain.

> Finished chain.
86 What are the 3 airports with the largest name? SELECT iatacode, name FROM airport ORDER BY LENGTH(name) DESC LIMIT 3 2.340229034423828 0.019559999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy']

> Entering new SQLDatabaseChain chain...
What is the percentage of industries in relation to Japan's economy?
SQLQuery:
> Finished chain.

> Finished chain.
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = 'JP' 2.295570135116577 0.01551