# SQLDatabaseSequentialChain - Mondial FK - GPT 3.5

In [15]:
!pip install langchain_experimental

Requirement already satisfied: langchain_experimental in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (0.0.17)
Requirement already satisfied: langchain>=0.0.239 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain_experimental) (0.0.289)
Requirement already satisfied: PyYAML>=5.3 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.0.18)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (3.8.4)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (4.0.2)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (0.5.9)
Requirement already satisfied: langsmith<0.1.0,>=0.0.21 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (0.0.37)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (1.25.1)
Requirement already satisfied: pydantic<3,>=1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (1.10.11)
Requirement already satisfied: requests<3,>=2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from langchain>=0.0.239->langchain_experimental) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (2.0.7)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain>=0.0.239->langchain_experimental) (1.3.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (3.19.0)
Requirement already satisfied: marshmallow-enum<2.0.0,>=1.5.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (1.5.1)
Requirement already satisfied: typing-inspect>=0.4.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (0.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from pydantic<3,>=1->langchain>=0.0.239->langchain_experimental) (4.6.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2->langchain>=0.0.239->langchain_experimental) (2021.10.8)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain>=0.0.239->langchain_experimental) (2.0.2)
Requirement already satisfied: packaging>=17.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (21.3)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\rogerrsn\appdata\local\programs\python\python310\lib\site-packages (from packaging>=17.0->marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain>=0.0.239->langchain_experimental) (3.0.9)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from langchain.sql_database import SQLDatabase
from langchain.chains import LLMChain
from langchain_experimental.sql.base import SQLDatabaseSequentialChain
from langchain.llms import OpenAI
from urllib.parse import quote  
from langchain.prompts.prompt import PromptTemplate
from langchain.callbacks import get_openai_callback

from dotenv import load_dotenv
import os
import sys
import json
import time
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

# Schema

In [17]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'
FILE_NAME_RESULT = f"results/14_sql_sequential_queries_chatgpt4_{SCHEMA}_fk_instances.json"

In [18]:
def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 
        
def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)

    queries = data["queries"]
    return queries

## Conexão

In [ ]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db_connection

### Utilizando o SQLDatabase para pegar todas as informações do database

In [20]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclusao = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclusao]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables, samples=2)
db.get_table_names()

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:112: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

['airport',
 'borders',
 'city',
 'citylocalname',
 'cityothername',
 'citypops',
 'continent',
 'country',
 'countrylocalname',
 'countryothername',
 'countrypops',
 'desert',
 'economy',
 'encompasses',
 'ethnicgroup',
 'geo_desert',
 'geo_estuary',
 'geo_island',
 'geo_lake',
 'geo_mountain',
 'geo_river',
 'geo_sea',
 'geo_source',
 'island',
 'islandin',
 'ismember',
 'lake',
 'lakeonisland',
 'language',
 'located',
 'locatedon',
 'mergeswith',
 'mountain',
 'mountainonisland',
 'organization',
 'politics',
 'population',
 'province',
 'provincelocalname',
 'provinceothername',
 'provpops',
 'religion',
 'river',
 'riveronisland',
 'riverthrough',
 'sea']

In [21]:
len(db.get_table_names())

46

## Criando o SQLChainPrompt especifico para o SQLDatabaseSequential

In [22]:
f = open(f"prompts/sql_chain_prompt_template.txt", "r")
prompt_template = f.read()
f.close()


QUERY_PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k"], template=prompt_template
)

print(QUERY_PROMPT)

input_variables=['input', 'table_info', 'top_k'] output_parser=None partial_variables={} template="Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer. Unless the user specifies in his question a specific number of examples he wishes to obtain, don't limits your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}" template_format='f-string' validate_template=True

## Criando o Chain para gerar SQL

In [ ]:
llm = OpenAI(temperature=0,model_name='gpt-4',verbose=True)

db_chain = SQLDatabaseSequentialChain.from_llm(llm, db.db, query_prompt=QUERY_PROMPT, verbose=True, use_query_checker=True, return_intermediate_steps=False, return_sql=True)
db_chain

In [24]:
# with get_openai_callback() as cb:
#     sql_query = db_chain({
#         "query": "What is the area of Thailand?"
#     })
#     print(f"Total Tokens: {cb.total_tokens}")
#     print(f"Prompt Tokens: {cb.prompt_tokens}")
#     print(f"Completion Tokens: {cb.completion_tokens}")
#     print(f"Total Cost (USD): ${cb.total_cost}")
    

# sql_query = sql_query['result']

# print(sql_query)

## Preparando as consultas em linguagem natural para rodar no LLM

In [25]:

json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigres River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

# Rodando as consultas no LLM para gerar SQL

In [12]:
# A cada X consultas, vai ser gerado um delay de 10s para evitar o bloqueio da API.

number_of_queries_to_delay = 1
count = 0
for instance in queries:

    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = db_chain({
            "query": instance["question"]
        })
        end_time = time.time()
        instance["query_string"] = sql_query['result']
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    time.sleep(8)
    count += 1
    
queries

> Entering new SQLDatabaseSequentialChain chain...

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\chains\llm.py:278: UserWarning: The predict_and_parse method is deprecated, instead pass an output parser directly to LLMChain.
  warnings.warn(

Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
What is the area of Thailand?
SQLQuery:

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

> Finished chain.

> Finished chain.
1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand' 2.461599111557007 0.01713


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province']

> Entering new SQLDatabaseChain chain...
What are the provinces with an area greater than 10000?
SQLQuery:
> Finished chain.

> Finished chain.
2 What are the provinces with an area greater than 10000? SELECT name, country, area FROM province WHERE area > 10000 3.5765206813812256 0.01818


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'language']

> Entering new SQLDatabaseChain chain...
What are the languages spoken in Poland?
SQLQuery:
> Finished chain.

> Finished chain.
3 What are the languages spoken in Poland? SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland') 3.86893892288208 0.02109


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_lake', 'lake']

> Entering new SQLDatabaseChain chain...
How deep is Lake Kariba?
SQLQuery:
> Finished chain.

> Finished chain.
4 How deep is Lake Kariba? SELECT depth FROM lake WHERE name = 'Lake Kariba'; 2.7338874340057373 0.02601


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province']

> Entering new SQLDatabaseChain chain...
What is the total of provinces of Netherlands?
SQLQuery:
> Finished chain.

> Finished chain.
5 What is the total of provinces of Netherlands? SELECT COUNT(name) FROM province WHERE country = 'NL' 3.1516196727752686 0.022559999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['religion', 'country']

> Entering new SQLDatabaseChain chain...
What is the percentage of religious people are hindu in thailand?
SQLQuery:
> Finished chain.

> Finished chain.
6 What is the percentage of religious people are hindu in thailand? SELECT percentage FROM religion WHERE country = 'TH' AND name = 'Hindu' 3.661323308944702 0.021419999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['river', 'province', 'riverthrough']

> Entering new SQLDatabaseChain chain...
List the number of provinces each river flows through.
SQLQuery:
> Finished chain.

> Finished chain.
7 List the number of provinces each river flows through. SELECT river, COUNT(province) AS num_provinces
FROM riverthrough
GROUP BY river 3.564701795578003 0.03804


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
Find all countries that became independent between 8/1/1910 and 8/1/1950.
SQLQuery:
> Finished chain.

> Finished chain.
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. The provided schema does not contain any information about the independence date of the countries. Therefore, it is not possible to create a SQL query to find all countries that became independent between 8/1/1910 and 8/1/1950. 6.846932649612427 0.02049


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'country']

> Entering new SQLDatabaseChain chain...
What are the cities of Cuba?
SQLQuery:
> Finished chain.

> Finished chain.
9 What are the cities of Cuba? SELECT name FROM city WHERE country = (SELECT code FROM country WHERE name = 'Cuba') 3.3876264095306396 0.024869999999999996


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'city']

> Entering new SQLDatabaseChain chain...
What is the capital of Georgia?
SQLQuery:
> Finished chain.

> Finished chain.
10 What is the capital of Georgia? SELECT capital FROM country WHERE name = 'Georgia' 2.819350481033325 0.024329999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province', 'provpops']

> Entering new SQLDatabaseChain chain...
How many provinces have areas greater than 1000 in Niger?
SQLQuery:
> Finished chain.

> Finished chain.
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(name) FROM province WHERE country = 'NE' AND area > 1000 6.189240455627441 0.024269999999999996


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country']

> Entering new SQLDatabaseChain chain...
Tell me about the country with the area largest.
SQLQuery:
> Finished chain.

> Finished chain.
12 Tell me about the country with the area largest. SELECT name, code, capital, province, area, population FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY 3.4763591289520264 0.01815


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['organization', 'province']

> Entering new SQLDatabaseChain chain...
What is the host province and year of establishment of the organization "International Energy Agency"?
SQLQuery:
> Finished chain.

> Finished chain.
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established
FROM organization
WHERE name = 'International Energy Agency' 2.7596795558929443 0.024929999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_mountain', 'mountain']

> Entering new SQLDatabaseChain chain...
Find the name of all mountains whose elevation is higher than 1000.
SQLQuery:
> Finished chain.

> Finished chain.
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name FROM mountain WHERE elevation > 1000 3.6289894580841064 0.02349


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy', 'geo_sea']

> Entering new SQLDatabaseChain chain...
Tell me the economy of the Caribbean Sea.
SQLQuery:
> Finished chain.

> Finished chain.
15 Tell me the economy of the Caribbean Sea. SELECT e.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment
FROM economy e
JOIN geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea'; 6.6529481410980225 0.02511


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city']

> Entering new SQLDatabaseChain chain...
Show the cities with longitude between 0 and 6.
SQLQuery:
> Finished chain.

> Finished chain.
16 Show the cities with longitude between 0 and 6. SELECT name, longitude FROM city WHERE longitude BETWEEN 0 AND 6 2.7022037506103516 0.020130000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'citypops', 'country', 'countrypops']

> Entering new SQLDatabaseChain chain...
Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.
SQLQuery:
> Finished chain.

> Finished chain.
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT c.name, c.country, c.province, c.population, c.elevation
FROM city c
JOIN country co ON c.country = co.code
JOIN countrypops cp ON co.code = cp.country
WHERE c.population > 100000 AND c.elevation > 2500 AND (cp.population - co.population) / co.population > 0.01
ORDER BY c.population DESC
FETCH FIRST 5 ROWS ONLY; 7.698622703552246 0.042539999999999994


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['politics']

> Entering new SQLDatabaseChain chain...
Show all the different types of government.
SQLQuery:
> Finished chain.

> Finished chain.
18 Show all the different types of government. SELECT DISTINCT government FROM politics 2.435511589050293 0.0165


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['province', 'provincelocalname', 'provinceothername']

> Entering new SQLDatabaseChain chain...
List all provinces in Germany
SQLQuery:
> Finished chain.

> Finished chain.
19 List all provinces in Germany SELECT name FROM province WHERE country = 'DE' 2.896618127822876 0.02745


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['ethnicgroup', 'country']

> Entering new SQLDatabaseChain chain...
What is the percentage of mulatto ethnicity in Brazil?
SQLQuery:
> Finished chain.

> Finished chain.
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto'; 2.9046826362609863 0.021419999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'citypops', 'population']

> Entering new SQLDatabaseChain chain...
How many cities have populations less than 1000?
SQLQuery:
> Finished chain.

> Finished chain.
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000 4.540244817733765 0.03015


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport', 'country']

> Entering new SQLDatabaseChain chain...
What is the average elevation of airports in America?
SQLQuery:
> Finished chain.

> Finished chain.
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport WHERE country = 'US' 2.8349626064300537 0.027569999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'encompasses', 'country', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How many countries are adjacent to (or ecompassed by) the Caribbean Sea?
SQLQuery:
> Finished chain.

> Finished chain.
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea'; 3.5765466690063477 0.0312


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'encompasses', 'geo_sea']

> Entering new SQLDatabaseChain chain...
How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?
SQLQuery:
> Finished chain.

> Finished chain.
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(area)
FROM country
WHERE code IN (
    SELECT country
    FROM geo_sea
    WHERE sea = 'Caribbean Sea'
) 4.999019622802734 0.02826


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'countrypops']

> Entering new SQLDatabaseChain chain...
For all countries, give the sum of the population of all its neighbors
SQLQuery:
> Finished chain.

> Finished chain.
25 For all countries, give the sum of the population of all its neighbors SELECT b1.country1, SUM(cp.population) AS total_population
FROM borders b1
JOIN countrypops cp ON b1.country2 = cp.country
GROUP BY b1.country1
ORDER BY total_population DESC; 5.60004997253418 0.02364


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_island', 'mountain', 'mountainonisland', 'island']

> Entering new SQLDatabaseChain chain...
What mountains are on the island of Borneo?
SQLQuery:
> Finished chain.

> Finished chain.
26 What mountains are on the island of Borneo? SELECT mountain FROM mountainonisland WHERE island = 'Borneo' 3.533196449279785 0.03345


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'countrypops']

> Entering new SQLDatabaseChain chain...
Provide the name and total population of the country with the smallest area.
SQLQuery:
> Finished chain.

> Finished chain.
27 Provide the name and total population of the country with the smallest area. SELECT name, population FROM country ORDER BY area ASC FETCH FIRST ROW ONLY 2.5553762912750244 0.022260000000000002


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'geo_river', 'borders', 'geo_estuary']

> Entering new SQLDatabaseChain chain...
The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.
SQLQuery:
> Finished chain.

> Finished chain.
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT gr.country
FROM geo_river gr
JOIN borders b ON gr.country = b.country1
JOIN geo_estuary ge ON b.country2 = ge.country AND gr.river = ge.river 5.107252597808838 0.03351


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'province', 'geo_mountain', 'located']

> Entering new SQLDatabaseChain chain...
The codes of all countries where at least one mountain is located in each of their provinces
SQLQuery:
> Finished chain.

> Finished chain.
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT c.code
FROM country c
WHERE NOT EXISTS (
    SELECT p.name
    FROM province p
    WHERE p.country = c.code
    AND NOT EXISTS (
        SELECT m.mountain
        FROM geo_mountain m
        WHERE m.province = p.name AND m.country = p.country
    )
) 5.881678819656372 0.038009999999999995


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country']

> Entering new SQLDatabaseChain chain...
The code and total border lengths of all countries with at least one border.
SQLQuery:
> Finished chain.

> Finished chain.
30 The code and total border lengths of all countries with at least one border. SELECT c.code, SUM(b.length) as total_border_length
FROM country c
JOIN borders b ON c.code = b.country1 OR c.code = b.country2
GROUP BY c.code 6.422842264175415 0.02337


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'geo_river', 'geo_source']

> Entering new SQLDatabaseChain chain...
The names and codes of all countries in which at least one river originates.
SQLQuery:
> Finished chain.

> Finished chain.
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT c.name, c.code
FROM country c
JOIN geo_source gs ON c.code = gs.country 4.021249771118164 0.027659999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_river', 'country', 'river']

> Entering new SQLDatabaseChain chain...
What is the area and country of the Chatanga River?
SQLQuery:
> Finished chain.

> Finished chain.
32 What is the area and country of the Chatanga River? SELECT r.area, c.name
FROM river r
JOIN geo_river gr ON r.name = gr.river
JOIN country c ON gr.country = c.code
WHERE r.name = 'Chatanga' 7.565845727920532 0.04038


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
Show the Airports with elevation more than 3000
SQLQuery:
> Finished chain.

> Finished chain.
33 Show the Airports with elevation more than 3000 SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000 2.8827497959136963 0.023129999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'religion']

> Entering new SQLDatabaseChain chain...
What are the religions practiced in Mexico?
SQLQuery:
> Finished chain.

> Finished chain.
34 What are the religions practiced in Mexico? SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico') 2.36719012260437 0.020999999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_river', 'river', 'mergeswith', 'sea']

> Entering new SQLDatabaseChain chain...
Show all rivers that do not flow into the sea.
SQLQuery:
> Finished chain.

> Finished chain.
35 Show all rivers that do not flow into the sea. SELECT name FROM river WHERE sea IS NULL 2.664146661758423 0.04041


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['borders', 'country']

> Entering new SQLDatabaseChain chain...
List African countries by number of neighbors.
SQLQuery:
> Finished chain.

> Finished chain.
36 List African countries by number of neighbors. SELECT c.name, COUNT(b.country2) as num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.province = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC; 5.495233058929443 0.02343


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'country', 'population']

> Entering new SQLDatabaseChain chain...
What is the average infant mortality rate for each continent?
SQLQuery:
> Finished chain.

> Finished chain.
37 What is the average infant mortality rate for each continent? SELECT continent.name AS Continent, AVG(population.infant_mortality) AS Average_Infant_Mortality
FROM continent
JOIN country ON continent.name = country.province
JOIN population ON country.code = population.country
GROUP BY continent.name; 7.555825710296631 0.024419999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'economy']

> Entering new SQLDatabaseChain chain...
What is the average mortality rate of the countries in America without considering Brazil?
SQLQuery:
> Finished chain.

> Finished chain.
38 What is the average mortality rate of the countries in America without considering Brazil? Sorry, but the provided schema does not contain any information about the mortality rate or the continent of the countries. 3.8297433853149414 0.023369999999999995


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['geo_sea']

> Entering new SQLDatabaseChain chain...
List seas with area greater than 8000 and depth less than 100.
SQLQuery:
> Finished chain.

> Finished chain.
39 List seas with area greater than 8000 and depth less than 100. Sorry, but the provided schema does not contain information about the area or depth of the seas. Therefore, it's not possible to create a SQL query for the given question. 2.9510443210601807 0.01923


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['mountain', 'continent', 'located']

> Entering new SQLDatabaseChain chain...
How many mountains are there in Asia?
SQLQuery:
> Finished chain.

> Finished chain.
40 How many mountains are there in Asia? SELECT COUNT(*) FROM mountain WHERE mountains IN (SELECT name FROM continent WHERE name = 'Asia') 3.25066876411438 0.027389999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'encompasses', 'geo_sea']

> Entering new SQLDatabaseChain chain...
What are the countries that are close to the Mediterranean Sea?
SQLQuery:
> Finished chain.

> Finished chain.
41 What are the countries that are close to the Mediterranean Sea? SELECT DISTINCT c.name
FROM country c
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Mediterranean Sea'
ORDER BY c.name 5.1772801876068115 0.0279


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy', 'politics']

> Entering new SQLDatabaseChain chain...
Show the total for each type of government.
SQLQuery:
> Finished chain.

> Finished chain.
42 Show the total for each type of government. SELECT government, COUNT(*) as total FROM politics GROUP BY government; 3.7164790630340576 0.02214


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['desert', 'province']

> Entering new SQLDatabaseChain chain...
Which province has the largest desert in the world?
SQLQuery:
> Finished chain.

> Finished chain.
43 Which province has the largest desert in the world? I'm sorry, but the provided schema and sample data do not contain information about which desert is located in which province. Therefore, it's impossible to create a SQL query to answer this question based on the provided data. 5.242768287658691 0.024599999999999997


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['desert', 'geo_desert']

> Entering new SQLDatabaseChain chain...
What is the largest desert in the world?
SQLQuery:
> Finished chain.

> Finished chain.
44 What is the largest desert in the world? SELECT name, MAX(area) FROM desert 2.3620522022247314 0.022109999999999998


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent', 'desert', 'geo_desert']

> Entering new SQLDatabaseChain chain...

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 559,
  'prompt_tokens': 547,
  'completion_tokens': 12,
  'total_cost': 0.01713,
  'time': 2.461599111557007},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, country, area FROM province WHERE area > 10000',
  'type': 'simple',
  'total_tokens': 591,
  'prompt_tokens': 576,
  'completion_tokens': 15,
  'total_cost': 0.01818,
  'time': 3.5765206813812256},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland')",
  'type': 'medium',
  'total_tokens': 681,
  'prompt_tokens': 659,
  'completion_tokens': 22,
  'total_cost': 0.02109,
  'time': 3.86893892288208},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'total_tokens': 850,
  'prompt_tokens': 833,
  'completion_tokens': 17,
  'total_cost': 0.02601,
  'time': 2.7338874340057373},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(name) FROM province WHERE country = 'NL'",
  'type': 'complex',
  'total_tokens': 737,
  'prompt_tokens': 722,
  'completion_tokens': 15,
  'total_cost': 0.022559999999999997,
  'time': 3.1516196727752686},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM religion WHERE country = 'TH' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 692,
  'prompt_tokens': 670,
  'completion_tokens': 22,
  'total_cost': 0.021419999999999998,
  'time': 3.661323308944702},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river, COUNT(province) AS num_provinces\nFROM riverthrough\nGROUP BY river',
  'type': 'medium',
  'total_tokens': 1243,
  'prompt_tokens': 1218,
  'completion_tokens': 25,
  'total_cost': 0.03804,
  'time': 3.564701795578003},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': 'The provided schema does not contain any information about the independence date of the countries. Therefore, it is not possible to create a SQL query to find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'type': 'complex',
  'total_tokens': 631,
  'prompt_tokens': 579,
  'completion_tokens': 52,
  'total_cost': 0.02049,
  'time': 6.846932649612427},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = (SELECT code FROM country WHERE name = 'Cuba')",
  'type': 'medium',
  'total_tokens': 807,
  'prompt_tokens': 785,
  'completion_tokens': 22,
  'total_cost': 0.024869999999999996,
  'time': 3.3876264095306396},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 798,
  'prompt_tokens': 785,
  'completion_tokens': 13,
  'total_cost': 0.024329999999999997,
  'time': 2.819350481033325},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(name) FROM province WHERE country = 'NE' AND area > 1000",
  'type': 'complex',
  'total_tokens': 786,
  'prompt_tokens': 763,
  'completion_tokens': 23,
  'total_cost': 0.024269999999999996,
  'time': 6.189240455627441},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, code, capital, province, area, population FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 579,
  'prompt_tokens': 553,
  'completion_tokens': 26,
  'total_cost': 0.01815,
  'time': 3.4763591289520264},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established \nFROM organization \nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 812,
  'prompt_tokens': 793,
  'completion_tokens': 19,
  'total_cost': 0.024929999999999997,
  'time': 2.7596795558929443},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mountain WHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 768,
  'prompt_tokens': 753,
  'completion_tokens': 15,
  'total_cost': 0.02349,
  'time': 3.6289894580841064},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment \nFROM economy e \nJOIN geo_sea gs ON e.country = gs.country \nWHERE gs.sea = 'Caribbean Sea';",
  'type': 'medium',
  'total_tokens': 777,
  'prompt_tokens': 717,
  'completion_tokens': 60,
  'total_cost': 0.02511,
  'time': 6.6529481410980225},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, longitude FROM city WHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 656,
  'prompt_tokens': 641,
  'completion_tokens': 15,
  'total_cost': 0.020130000000000002,
  'time': 2.7022037506103516},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT c.name, c.country, c.province, c.population, c.elevation\nFROM city c\nJOIN country co ON c.country = co.code\nJOIN countrypops cp ON co.code = cp.country\nWHERE c.population > 100000 AND c.elevation > 2500 AND (cp.population - co.population) / co.population > 0.01\nORDER BY c.population DESC\nFETCH FIRST 5 ROWS ONLY;',
  'type': 'complex',
  'total_tokens': 1315,
  'prompt_tokens': 1212,
  'completion_tokens': 103,
  'total_cost': 0.042539999999999994,
  'time': 7.698622703552246},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 543,
  'prompt_tokens': 536,
  'completion_tokens': 7,
  'total_cost': 0.0165,
  'time': 2.435511589050293},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name FROM province WHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 895,
  'prompt_tokens': 875,
  'completion_tokens': 20,
  'total_cost': 0.02745,
  'time': 2.896618127822876},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto';",
  'type': 'complex',
  'total_tokens': 692,
  'prompt_tokens': 670,
  'completion_tokens': 22,
  'total_cost': 0.021419999999999998,
  'time': 2.9046826362609863},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 987,
  'prompt_tokens': 969,
  'completion_tokens': 18,
  'total_cost': 0.03015,
  'time': 4.540244817733765},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'US'",
  'type': 'complex',
  'total_tokens': 903,
  'prompt_tokens': 887,
  'completion_tokens': 16,
  'total_cost': 0.027569999999999997,
  'time': 2.8349626064300537},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea';",
  'type': 'medium',
  'total_tokens': 1011,
  'prompt_tokens': 982,
  'completion_tokens': 29,
  'total_cost': 0.0312,
  'time': 3.5765466690063477},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(area) \nFROM country \nWHERE code IN (\n    SELECT country \n    FROM geo_sea \n    WHERE sea = 'Caribbean Sea'\n)",
  'type': 'complex',
  'total_tokens': 903,
  'prompt_tokens': 864,
  'completion_tokens': 39,
  'total_cost': 0.02826,
  'time': 4.999019622802734},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT b1.country1, SUM(cp.population) AS total_population\nFROM borders b1\nJOIN countrypops cp ON b1.country2 = cp.country\nGROUP BY b1.country1\nORDER BY total_population DESC;',
  'type': 'medium',
  'total_tokens': 734,
  'prompt_tokens': 680,
  'completion_tokens': 54,
  'total_cost': 0.02364,
  'time': 5.60004997253418},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain FROM mountainonisland WHERE island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 1090,
  'prompt_tokens': 1065,
  'completion_tokens': 25,
  'total_cost': 0.03345,
  'time': 3.533196449279785},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population FROM country ORDER BY area ASC FETCH FIRST ROW ONLY',
  'type': 'simple',
  'total_tokens': 722,
  'prompt_tokens': 702,
  'completion_tokens': 20,
  'total_cost': 0.022260000000000002,
  'time': 2.5553762912750244},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT gr.country\nFROM geo_river gr\nJOIN borders b ON gr.country = b.country1\nJOIN geo_estuary ge ON b.country2 = ge.country AND gr.river = ge.river',
  'type': 'complex',
  'total_tokens': 1064,
  'prompt_tokens': 1011,
  'completion_tokens': 53,
  'total_cost': 0.03351,
  'time': 5.107252597808838},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nWHERE NOT EXISTS (\n    SELECT p.name\n    FROM province p\n    WHERE p.country = c.code\n    AND NOT EXISTS (\n        SELECT m.mountain\n        FROM geo_mountain m\n        WHERE m.province = p.name AND m.country = p.country\n    )\n)',
  'type': 'complex',
  'total_tokens': 1191,
  'prompt_tokens': 1115,
  'completion_tokens': 76,
  'total_cost': 0.038009999999999995,
  'time': 5.881678819656372},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.code, SUM(b.length) as total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1 OR c.code = b.country2\nGROUP BY c.code',
  'type': 'complex',
  'total_tokens': 736,
  'prompt_tokens': 693,
  'completion_tokens': 43,
  'total_cost': 0.02337,
  'time': 6.422842264175415},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN geo_source gs ON c.code = gs.country',
  'type': 'medium',
  'total_tokens': 892,
  'prompt_tokens': 862,
  'completion_tokens': 30,
  'total_cost': 0.027659999999999997,
  'time': 4.021249771118164},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT r.area, c.name \nFROM river r \nJOIN geo_river gr ON r.name = gr.river \nJOIN country c ON gr.country = c.code \nWHERE r.name = 'Chatanga'",
  'type': 'simple',
  'total_tokens': 1297,
  'prompt_tokens': 1248,
  'completion_tokens': 49,
  'total_cost': 0.04038,
  'time': 7.565845727920532},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 754,
  'prompt_tokens': 737,
  'completion_tokens': 17,
  'total_cost': 0.023129999999999998,
  'time': 2.8827497959136963},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico')",
  'type': 'medium',
  'total_tokens': 679,
  'prompt_tokens': 658,
  'completion_tokens': 21,
  'total_cost': 0.020999999999999998,
  'time': 2.36719012260437},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name FROM river WHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 1329,
  'prompt_tokens': 1311,
  'completion_tokens': 18,
  'total_cost': 0.04041,
  'time': 2.664146661758423},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT c.name, COUNT(b.country2) as num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE c.province = 'Africa'\nGROUP BY c.name\nORDER BY num_neighbors DESC;",
  'type': 'complex',
  'total_tokens': 730,
  'prompt_tokens': 679,
  'completion_tokens': 51,
  'total_cost': 0.02343,
  'time': 5.495233058929443},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT continent.name AS Continent, AVG(population.infant_mortality) AS Average_Infant_Mortality\nFROM continent\nJOIN country ON continent.name = country.province\nJOIN population ON country.code = population.country\nGROUP BY continent.name;',
  'type': 'simple',
  'total_tokens': 760,
  'prompt_tokens': 706,
  'completion_tokens': 54,
  'total_cost': 0.024419999999999997,
  'time': 7.555825710296631},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': 'Sorry, but the provided schema does not contain any information about the mortality rate or the continent of the countries.',
  'type': 'complex',
  'total_tokens': 754,
  'prompt_tokens': 729,
  'completion_tokens': 25,
  'total_cost': 0.023369999999999995,
  'time': 3.8297433853149414},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': "Sorry, but the provided schema does not contain information about the area or depth of the seas. Therefore, it's not possible to create a SQL query for the given question.",
  'type': 'simple',
  'total_tokens': 603,
  'prompt_tokens': 565,
  'completion_tokens': 38,
  'total_cost': 0.01923,
  'time': 2.9510443210601807},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM mountain WHERE mountains IN (SELECT name FROM continent WHERE name = 'Asia')",
  'type': 'complex',
  'total_tokens': 888,
  'prompt_tokens': 863,
  'completion_tokens': 25,
  'total_cost': 0.027389999999999998,
  'time': 3.25066876411438},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT DISTINCT c.name \nFROM country c \nJOIN geo_sea gs ON c.code = gs.country \nWHERE gs.sea = 'Mediterranean Sea'\nORDER BY c.name",
  'type': 'complex',
  'total_tokens': 886,
  'prompt_tokens': 842,
  'completion_tokens': 44,
  'total_cost': 0.0279,
  'time': 5.1772801876068115},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) as total FROM politics GROUP BY government;',
  'type': 'simple',
  'total_tokens': 721,
  'prompt_tokens': 704,
  'completion_tokens': 17,
  'total_cost': 0.02214,
  'time': 3.7164790630340576},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': "I'm sorry, but the provided schema and sample data do not contain information about which desert is located in which province. Therefore, it's impossible to create a SQL query to answer this question based on the provided data.",
  'type': 'simple',
  'total_tokens': 772,
  'prompt_tokens': 724,
  'completion_tokens': 48,
  'total_cost': 0.024599999999999997,
  'time': 5.242768287658691},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, MAX(area) FROM desert',
  'type': 'simple',
  'total_tokens': 723,
  'prompt_tokens': 709,
  'completion_tokens': 14,
  'total_cost': 0.022109999999999998,
  'time': 2.3620522022247314},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT continent.name, COUNT(geo_desert.desert) as desert_count\nFROM continent\nLEFT JOIN geo_desert ON continent.name = geo_desert.country\nGROUP BY continent.name',
  'type': 'complex',
  'total_tokens': 821,
  'prompt_tokens': 776,
  'completion_tokens': 45,
  'total_cost': 0.02598,
  'time': 5.2925615310668945},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea FROM geo_sea WHERE province IN (SELECT province FROM geo_sea WHERE sea = 'Banda Sea') AND sea != 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 590,
  'prompt_tokens': 555,
  'completion_tokens': 35,
  'total_cost': 0.018749999999999996,
  'time': 4.0863938331604},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT country.capital\nFROM country\nJOIN city ON country.capital = city.name AND country.code = city.country\nWHERE city.province = 'Europe'\nORDER BY country.capital",
  'type': 'medium',
  'total_tokens': 886,
  'prompt_tokens': 844,
  'completion_tokens': 42,
  'total_cost': 0.027839999999999997,
  'time': 5.954145908355713},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage FROM language WHERE country = 'AD' AND name = 'French';",
  'type': 'complex',
  'total_tokens': 778,
  'prompt_tokens': 757,
  'completion_tokens': 21,
  'total_cost': 0.023969999999999998,
  'time': 3.7079057693481445},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name, length FROM river WHERE length > 1000',
  'type': 'complex',
  'total_tokens': 1107,
  'prompt_tokens': 1090,
  'completion_tokens': 17,
  'total_cost': 0.03372,
  'time': 2.6983840465545654},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT cp1.country, (cp2.population - cp1.population) as growth\nFROM countrypops cp1\nJOIN countrypops cp2 ON cp1.country = cp2.country AND cp1.year = cp2.year - 1\nORDER BY growth ASC\nLIMIT 1',
  'type': 'simple',
  'total_tokens': 757,
  'prompt_tokens': 690,
  'completion_tokens': 67,
  'total_cost': 0.02472,
  'time': 6.279627084732056},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT name FROM city \nWHERE name NOT IN (SELECT city FROM located)',
  'type': 'complex',
  'total_tokens': 894,
  'prompt_tokens': 876,
  'completion_tokens': 18,
  'total_cost': 0.027360000000000002,
  'time': 3.062976598739624},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': "SELECT capital FROM province WHERE name = 'Andalucía';",
  'type': 'simple',
  'total_tokens': 767,
  'prompt_tokens': 748,
  'completion_tokens': 19,
  'total_cost': 0.023580000000000004,
  'time': 3.7512974739074707},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': "SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions';",
  'type': 'simple',
  'total_tokens': 643,
  'prompt_tokens': 626,
  'completion_tokens': 17,
  'total_cost': 0.019799999999999998,

In [13]:
queries = read_queries()
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 559,
  'prompt_tokens': 547,
  'completion_tokens': 12,
  'total_cost': 0.01713,
  'time': 2.461599111557007},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name, country, area FROM province WHERE area > 10000',
  'type': 'simple',
  'total_tokens': 591,
  'prompt_tokens': 576,
  'completion_tokens': 15,
  'total_cost': 0.01818,
  'time': 3.5765206813812256},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name FROM language WHERE country = (SELECT code FROM country WHERE name = 'Poland')",
  'type': 'medium',
  'total_tokens': 681,
  'prompt_tokens': 659,
  'completion_tokens': 22,
  'total_cost': 0.02109,
  'time': 3.86893892288208},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba';",
  'type': 'simple',
  'total_tokens': 850,
  'prompt_tokens': 833,
  'completion_tokens': 17,
  'total_cost': 0.02601,
  'time': 2.7338874340057373},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(name) FROM province WHERE country = 'NL'",
  'type': 'complex',
  'total_tokens': 737,
  'prompt_tokens': 722,
  'completion_tokens': 15,
  'total_cost': 0.022559999999999997,
  'time': 3.1516196727752686},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage FROM religion WHERE country = 'TH' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 692,
  'prompt_tokens': 670,
  'completion_tokens': 22,
  'total_cost': 0.021419999999999998,
  'time': 3.661323308944702},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river, COUNT(province) AS num_provinces\nFROM riverthrough\nGROUP BY river',
  'type': 'medium',
  'total_tokens': 1243,
  'prompt_tokens': 1218,
  'completion_tokens': 25,
  'total_cost': 0.03804,
  'time': 3.564701795578003},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': 'The provided schema does not contain any information about the independence date of the countries. Therefore, it is not possible to create a SQL query to find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'type': 'complex',
  'total_tokens': 631,
  'prompt_tokens': 579,
  'completion_tokens': 52,
  'total_cost': 0.02049,
  'time': 6.846932649612427},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = (SELECT code FROM country WHERE name = 'Cuba')",
  'type': 'medium',
  'total_tokens': 807,
  'prompt_tokens': 785,
  'completion_tokens': 22,
  'total_cost': 0.024869999999999996,
  'time': 3.3876264095306396},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 798,
  'prompt_tokens': 785,
  'completion_tokens': 13,
  'total_cost': 0.024329999999999997,
  'time': 2.819350481033325},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(name) FROM province WHERE country = 'NE' AND area > 1000",
  'type': 'complex',
  'total_tokens': 786,
  'prompt_tokens': 763,
  'completion_tokens': 23,
  'total_cost': 0.024269999999999996,
  'time': 6.189240455627441},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, code, capital, province, area, population FROM country ORDER BY area DESC FETCH FIRST 1 ROWS ONLY',
  'type': 'medium',
  'total_tokens': 579,
  'prompt_tokens': 553,
  'completion_tokens': 26,
  'total_cost': 0.01815,
  'time': 3.4763591289520264},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established \nFROM organization \nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 812,
  'prompt_tokens': 793,
  'completion_tokens': 19,
  'total_cost': 0.024929999999999997,
  'time': 2.7596795558929443},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name FROM mountain WHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 768,
  'prompt_tokens': 753,
  'completion_tokens': 15,
  'total_cost': 0.02349,
  'time': 3.6289894580841064},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT e.country, e.gdp, e.agriculture, e.service, e.industry, e.inflation, e.unemployment \nFROM economy e \nJOIN geo_sea gs ON e.country = gs.country \nWHERE gs.sea = 'Caribbean Sea';",
  'type': 'medium',
  'total_tokens': 777,
  'prompt_tokens': 717,
  'completion_tokens': 60,
  'total_cost': 0.02511,
  'time': 6.6529481410980225},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, longitude FROM city WHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 656,
  'prompt_tokens': 641,
  'completion_tokens': 15,
  'total_cost': 0.020130000000000002,
  'time': 2.7022037506103516},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT c.name, c.country, c.province, c.population, c.elevation\nFROM city c\nJOIN country co ON c.country = co.code\nJOIN countrypops cp ON co.code = cp.country\nWHERE c.population > 100000 AND c.elevation > 2500 AND (cp.population - co.population) / co.population > 0.01\nORDER BY c.population DESC\nFETCH FIRST 5 ROWS ONLY;',
  'type': 'complex',
  'total_tokens': 1315,
  'prompt_tokens': 1212,
  'completion_tokens': 103,
  'total_cost': 0.042539999999999994,
  'time': 7.698622703552246},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 543,
  'prompt_tokens': 536,
  'completion_tokens': 7,
  'total_cost': 0.0165,
  'time': 2.435511589050293},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name FROM province WHERE country = 'DE'",
  'type': 'medium',
  'total_tokens': 895,
  'prompt_tokens': 875,
  'completion_tokens': 20,
  'total_cost': 0.02745,
  'time': 2.896618127822876},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage FROM ethnicgroup WHERE country = 'BR' AND name = 'Mulatto';",
  'type': 'complex',
  'total_tokens': 692,
  'prompt_tokens': 670,
  'completion_tokens': 22,
  'total_cost': 0.021419999999999998,
  'time': 2.9046826362609863},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 987,
  'prompt_tokens': 969,
  'completion_tokens': 18,
  'total_cost': 0.03015,
  'time': 4.540244817733765},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'US'",
  'type': 'complex',
  'total_tokens': 903,
  'prompt_tokens': 887,
  'completion_tokens': 16,
  'total_cost': 0.027569999999999997,
  'time': 2.8349626064300537},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Caribbean Sea';",
  'type': 'medium',
  'total_tokens': 1011,
  'prompt_tokens': 982,
  'completion_tokens': 29,
  'total_cost': 0.0312,
  'time': 3.5765466690063477},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(area) \nFROM country \nWHERE code IN (\n    SELECT country \n    FROM geo_sea \n    WHERE sea = 'Caribbean Sea'\n)",
  'type': 'complex',
  'total_tokens': 903,
  'prompt_tokens': 864,
  'completion_tokens': 39,
  'total_cost': 0.02826,
  'time': 4.999019622802734},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT b1.country1, SUM(cp.population) AS total_population\nFROM borders b1\nJOIN countrypops cp ON b1.country2 = cp.country\nGROUP BY b1.country1\nORDER BY total_population DESC;',
  'type': 'medium',
  'total_tokens': 734,
  'prompt_tokens': 680,
  'completion_tokens': 54,
  'total_cost': 0.02364,
  'time': 5.60004997253418},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain FROM mountainonisland WHERE island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 1090,
  'prompt_tokens': 1065,
  'completion_tokens': 25,
  'total_cost': 0.03345,
  'time': 3.533196449279785},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population FROM country ORDER BY area ASC FETCH FIRST ROW ONLY',
  'type': 'simple',
  'total_tokens': 722,
  'prompt_tokens': 702,
  'completion_tokens': 20,
  'total_cost': 0.022260000000000002,
  'time': 2.5553762912750244},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT gr.country\nFROM geo_river gr\nJOIN borders b ON gr.country = b.country1\nJOIN geo_estuary ge ON b.country2 = ge.country AND gr.river = ge.river',
  'type': 'complex',
  'total_tokens': 1064,
  'prompt_tokens': 1011,
  'completion_tokens': 53,
  'total_cost': 0.03351,
  'time': 5.107252597808838},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nWHERE NOT EXISTS (\n    SELECT p.name\n    FROM province p\n    WHERE p.country = c.code\n    AND NOT EXISTS (\n        SELECT m.mountain\n        FROM geo_mountain m\n        WHERE m.province = p.name AND m.country = p.country\n    )\n)',
  'type': 'complex',
  'total_tokens': 1191,
  'prompt_tokens': 1115,
  'completion_tokens': 76,
  'total_cost': 0.038009999999999995,
  'time': 5.881678819656372},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT c.code, SUM(b.length) as total_border_length\nFROM country c\nJOIN borders b ON c.code = b.country1 OR c.code = b.country2\nGROUP BY c.code',
  'type': 'complex',
  'total_tokens': 736,
  'prompt_tokens': 693,
  'completion_tokens': 43,
  'total_cost': 0.02337,
  'time': 6.422842264175415},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT c.name, c.code\nFROM country c\nJOIN geo_source gs ON c.code = gs.country',
  'type': 'medium',
  'total_tokens': 892,
  'prompt_tokens': 862,
  'completion_tokens': 30,
  'total_cost': 0.027659999999999997,
  'time': 4.021249771118164},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT r.area, c.name \nFROM river r \nJOIN geo_river gr ON r.name = gr.river \nJOIN country c ON gr.country = c.code \nWHERE r.name = 'Chatanga'",
  'type': 'simple',
  'total_tokens': 1297,
  'prompt_tokens': 1248,
  'completion_tokens': 49,
  'total_cost': 0.04038,
  'time': 7.565845727920532},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT iatacode, name, elevation FROM airport WHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 754,
  'prompt_tokens': 737,
  'completion_tokens': 17,
  'total_cost': 0.023129999999999998,
  'time': 2.8827497959136963},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name FROM religion WHERE country = (SELECT code FROM country WHERE name = 'Mexico')",
  'type': 'medium',
  'total_tokens': 679,
  'prompt_tokens': 658,
  'completion_tokens': 21,
  'total_cost': 0.020999999999999998,
  'time': 2.36719012260437},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name FROM river WHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 1329,
  'prompt_tokens': 1311,
  'completion_tokens': 18,
  'total_cost': 0.04041,
  'time': 2.664146661758423},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT c.name, COUNT(b.country2) as num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE c.province = 'Africa'\nGROUP BY c.name\nORDER BY num_neighbors DESC;",
  'type': 'complex',
  'total_tokens': 730,
  'prompt_tokens': 679,
  'completion_tokens': 51,
  'total_cost': 0.02343,
  'time': 5.495233058929443},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT continent.name AS Continent, AVG(population.infant_mortality) AS Average_Infant_Mortality\nFROM continent\nJOIN country ON continent.name = country.province\nJOIN population ON country.code = population.country\nGROUP BY continent.name;',
  'type': 'simple',
  'total_tokens': 760,
  'prompt_tokens': 706,
  'completion_tokens': 54,
  'total_cost': 0.024419999999999997,
  'time': 7.555825710296631},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': 'Sorry, but the provided schema does not contain any information about the mortality rate or the continent of the countries.',
  'type': 'complex',
  'total_tokens': 754,
  'prompt_tokens': 729,
  'completion_tokens': 25,
  'total_cost': 0.023369999999999995,
  'time': 3.8297433853149414},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': "Sorry, but the provided schema does not contain information about the area or depth of the seas. Therefore, it's not possible to create a SQL query for the given question.",
  'type': 'simple',
  'total_tokens': 603,
  'prompt_tokens': 565,
  'completion_tokens': 38,
  'total_cost': 0.01923,
  'time': 2.9510443210601807},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM mountain WHERE mountains IN (SELECT name FROM continent WHERE name = 'Asia')",
  'type': 'complex',
  'total_tokens': 888,
  'prompt_tokens': 863,
  'completion_tokens': 25,
  'total_cost': 0.027389999999999998,
  'time': 3.25066876411438},
 {'id': '41',
  'question': 'What are the countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT DISTINCT c.name \nFROM country c \nJOIN geo_sea gs ON c.code = gs.country \nWHERE gs.sea = 'Mediterranean Sea'\nORDER BY c.name",
  'type': 'complex',
  'total_tokens': 886,
  'prompt_tokens': 842,
  'completion_tokens': 44,
  'total_cost': 0.0279,
  'time': 5.1772801876068115},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) as total FROM politics GROUP BY government;',
  'type': 'simple',
  'total_tokens': 721,
  'prompt_tokens': 704,
  'completion_tokens': 17,
  'total_cost': 0.02214,
  'time': 3.7164790630340576},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': "I'm sorry, but the provided schema and sample data do not contain information about which desert is located in which province. Therefore, it's impossible to create a SQL query to answer this question based on the provided data.",
  'type': 'simple',
  'total_tokens': 772,
  'prompt_tokens': 724,
  'completion_tokens': 48,
  'total_cost': 0.024599999999999997,
  'time': 5.242768287658691},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, MAX(area) FROM desert',
  'type': 'simple',
  'total_tokens': 723,
  'prompt_tokens': 709,
  'completion_tokens': 14,
  'total_cost': 0.022109999999999998,
  'time': 2.3620522022247314},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT continent.name, COUNT(geo_desert.desert) as desert_count\nFROM continent\nLEFT JOIN geo_desert ON continent.name = geo_desert.country\nGROUP BY continent.name',
  'type': 'complex',
  'total_tokens': 821,
  'prompt_tokens': 776,
  'completion_tokens': 45,
  'total_cost': 0.02598,
  'time': 5.2925615310668945},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea FROM geo_sea WHERE province IN (SELECT province FROM geo_sea WHERE sea = 'Banda Sea') AND sea != 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 590,
  'prompt_tokens': 555,
  'completion_tokens': 35,
  'total_cost': 0.018749999999999996,
  'time': 4.0863938331604},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT country.capital\nFROM country\nJOIN city ON country.capital = city.name AND country.code = city.country\nWHERE city.province = 'Europe'\nORDER BY country.capital",
  'type': 'medium',
  'total_tokens': 886,
  'prompt_tokens': 844,
  'completion_tokens': 42,
  'total_cost': 0.027839999999999997,
  'time': 5.954145908355713},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': "SELECT percentage FROM language WHERE country = 'AD' AND name = 'French';",
  'type': 'complex',
  'total_tokens': 778,
  'prompt_tokens': 757,
  'completion_tokens': 21,
  'total_cost': 0.023969999999999998,
  'time': 3.7079057693481445},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': 'SELECT name, length FROM river WHERE length > 1000',
  'type': 'complex',
  'total_tokens': 1107,
  'prompt_tokens': 1090,
  'completion_tokens': 17,
  'total_cost': 0.03372,
  'time': 2.6983840465545654},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': 'SELECT cp1.country, (cp2.population - cp1.population) as growth\nFROM countrypops cp1\nJOIN countrypops cp2 ON cp1.country = cp2.country AND cp1.year = cp2.year - 1\nORDER BY growth ASC\nLIMIT 1',
  'type': 'simple',
  'total_tokens': 757,
  'prompt_tokens': 690,
  'completion_tokens': 67,
  'total_cost': 0.02472,
  'time': 6.279627084732056},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': 'SELECT name FROM city \nWHERE name NOT IN (SELECT city FROM located)',
  'type': 'complex',
  'total_tokens': 894,
  'prompt_tokens': 876,
  'completion_tokens': 18,
  'total_cost': 0.027360000000000002,
  'time': 3.062976598739624},
 {'id': '52',
  'question': 'What is the capital of the provice Andaluc�a?',
  'query_string': "SELECT capital FROM province WHERE name = 'Andalucía';",
  'type': 'simple',
  'total_tokens': 767,
  'prompt_tokens': 748,
  'completion_tokens': 19,
  'total_cost': 0.023580000000000004,
  'time': 3.7512974739074707},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': "SELECT abbreviation FROM organization WHERE name = 'General Confederation of Trade Unions';",
  'type': 'simple',
  'total_tokens': 643,
  'prompt_tokens': 626,
  'completion_tokens': 17,
  'total_cost': 0.019799999999999998,

#### Fixing queries

In [26]:
to_fix = [40,59,62,72,85,99]
for pos in to_fix:
    instance = queries[pos]
    q = read_queries()
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = db_chain({
            "query": instance["question"]
        })
        end_time = time.time()
        instance["query_string"] = sql_query['result']
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost  
        instance['time'] = end_time - start_time
        q[pos] = instance
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
        save_queries(q)

> Entering new SQLDatabaseSequentialChain chain...

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\chains\llm.py:278: UserWarning: The predict_and_parse method is deprecated, instead pass an output parser directly to LLMChain.
  warnings.warn(

Table names to use:
['country', 'geo_sea', 'locatedon']

> Entering new SQLDatabaseChain chain...
How many countries that are close to the Mediterranean Sea?
SQLQuery:

c:\Users\rogerrsn\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain\utilities\sql_database.py:307: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

> Finished chain.

> Finished chain.
41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(DISTINCT country) FROM geo_sea WHERE sea = 'Mediterranean Sea' 3.0990538597106934 0.02889


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['city', 'organization']

> Entering new SQLDatabaseChain chain...
 List the names of capital cities which are the base for organizations in alphabetical order
SQLQuery:
> Finished chain.

> Finished chain.
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT DISTINCT city.name
FROM city
JOIN organization ON city.name = organization.city AND city.country = organization.country AND city.province = organization.province
WHERE city.name IN (SELECT capital FROM country)
ORDER BY city.name ASC; 8.184911727905273 0.02883


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['country', 'economy', 'geo_sea']

> Entering new SQLDatabaseChain chain...
Show the inflation rate of countries that are washed by the Arabian Sea
SQLQuery:
> Finished chain.

> Finished chain.
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT c.name, e.inflation
FROM country c
JOIN economy e ON c.code = e.country
JOIN geo_sea gs ON c.code = gs.country
WHERE gs.sea = 'Arabian Sea'
ORDER BY e.inflation DESC; 5.826396942138672 0.029970000000000004


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['continent']

> Entering new SQLDatabaseChain chain...
What area is the largest continent?
SQLQuery:
> Finished chain.

> Finished chain.
73 What area is the largest continent? SELECT name, area FROM continent ORDER BY area DESC FETCH FIRST 1 ROWS ONLY 2.2713663578033447 0.01458


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['airport']

> Entering new SQLDatabaseChain chain...
What are the 3 airports with the largest name?
SQLQuery:
> Finished chain.

> Finished chain.
86 What are the 3 airports with the largest name? SELECT iatacode, name FROM airport ORDER BY LENGTH(name) DESC LIMIT 3 1.9107327461242676 0.02313


> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['economy']

> Entering new SQLDatabaseChain chain...
What is the percentage of industries in relation to Japan's economy?
SQLQuery:
> Finished chain.

> Finished chain.
100 What is the percentage of industries in relation to Japan's economy? SELECT industry FROM economy WHERE country = 'JP' 1.8297953605651855 0.01785